.header {
  width: 100%;
  background: #151528;
  z-index: 1002;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  /* End NavMenu */ }
  @media (max-width: 999px) {
    .header {
      padding: 12px 0px; } }
  .header.sticky {
    position: fixed;
    top: 0px;
    left: 0px;
    -webkit-box-shadow: 4px 4px 60px #0000000d;
    -moz-box-shadow: 4px 4px 60px #0000000d;
    -o-box-shadow: 4px 4px 60px #0000000d;
    -ms-box-shadow: 4px 4px 60px #0000000d;
    box-shadow: 4px 4px 60px #0000000d;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
  .header .flexrow {
    position: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%; }
    @media (max-width: 999px) {
      .header .flexrow {
        position: relative; } }
  .header .itemlogomenu {
    display: flex;
    align-items: center;
    width: 100%; }
    .header .itemlogomenu .logo img {
      max-width: 158px; }
      @media (max-width: 999px) {
        .header .itemlogomenu .logo img {
          max-width: 138px; } }
    .header .itemlogomenu .burger {
      position: absolute;
      right: 12px;
      display: none;
      cursor: pointer;
      user-select: none;
      width: 24px;
      height: 1rem;
      visibility: hidden;
      background: transparent; }
      .header .itemlogomenu .burger-line {
        position: absolute;
        display: block;
        right: 0;
        width: 100%;
        height: 2px;
        opacity: 1;
        border: none;
        outline: none;
        background: #fff; }
        .header .itemlogomenu .burger-line:nth-child(1) {
          top: 0px; }
        .header .itemlogomenu .burger-line:nth-child(2) {
          top: 0.5rem;
          width: 80%; }
        .header .itemlogomenu .burger-line:nth-child(3) {
          top: 1rem;
          width: 60%; }
      @media only screen and (max-width: 999px) {
        .header .itemlogomenu .burger {
          display: block;
          opacity: 1;
          visibility: visible; } }
  @media screen and (max-width: 999px) {
    .header .socialicons {
      display: flex;
      justify-content: center; }
      .header .socialicons a {
        margin: 0px 6px; } }
  .header .navbar {
    position: inherit;
    padding: 0px;
    width: 100%; }
    .header .navbar .logo {
      display: none;
      position: absolute;
      top: 24px;
      left: 12px; }
      @media screen and (max-width: 999px) {
        .header .navbar .logo {
          display: block; } }
      .header .navbar .logo img {
        display: block;
        max-width: 164px; }
    .header .navbar .cancel {
      display: none;
      position: absolute;
      top: 18px;
      right: 18px;
      z-index: 10; }
      .header .navbar .cancel svg {
        width: 18px;
        height: 18px; }
    @media screen and (max-width: 999px) {
      .header .navbar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 290px;
        height: 100%;
        z-index: 10;
        overflow: hidden;
        overflow-y: auto;
        visibility: hidden;
        background: #151528;
        transition: all 0.5s ease; }
        .header .navbar.active {
          left: 0rem;
          opacity: 1;
          visibility: visible; }
        .header .navbar .cancel {
          display: block; }
        .header .navbar .bottoms {
          width: 100%;
          display: block;
          padding: 0px 12px; }
          .header .navbar .bottoms .language,
          .header .navbar .bottoms .login,
          .header .navbar .bottoms .bottom,
          .header .navbar .bottoms .dropdown {
            width: 100%;
            margin: 0px;
            margin-bottom: 12px; }
          .header .navbar .bottoms .login,
          .header .navbar .bottoms .bottom {
            min-width: 100%; } }
  .header .menu {
    display: flex;
    align-items: center;
    margin-left: 64px; }
    @media (max-width: 1220px) {
      .header .menu {
        margin-left: 8px; } }
    @media (max-width: 999px) {
      .header .menu {
        margin: 0px; } }
    .header .menu-item {
      position: relative;
      display: inline-block;
      margin-right: 32px; }
      @media (max-width: 1220px) {
        .header .menu-item {
          margin-right: 4px; } }
      .header .menu-item:last-child {
        margin: 0px; }
    .header .menu-link {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.25rem;
      font-weight: 500;
      padding: 28px 0px;
      cursor: pointer;
      color: #fff;
      text-transform: capitalize;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      .header .menu-link svg {
        position: relative;
        max-width: 14px;
        max-height: 14px;
        fill: #fff;
        margin-top: 4px;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s; }
        @media only screen and (max-width: 999px) {
          .header .menu-link svg {
            z-index: -1; } }
    @media only screen and (min-width: 999px) {
      .header .menu-dropdown:hover > .submenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        z-index: 100; } }
    @media only screen and (max-width: 999px) {
      .header .menu {
        display: block;
        width: 100%;
        height: auto;
        padding: 0px 16px;
        margin-top: 92px; }
        .header .menu-item {
          display: block;
          padding: 0px;
          margin: 0px;
          margin-bottom: 8px; }
          .header .menu-item:last-child {
            margin-bottom: 0px; }
        .header .menu-link {
          padding: 0px;
          justify-content: space-between; } }
    .header .menu .activelink .menu-link svg {
      fill: #C5D92D; }
    .header .menu .activelink .menu-link,
    .header .menu .menu-item:hover .menu-link {
      color: #C5D92D; }
      .header .menu .activelink .menu-link svg,
      .header .menu .menu-item:hover .menu-link svg {
        fill: #C5D92D; }
    @media only screen and (max-width: 999px) {
      .header .menu .activelink .submenu {
        opacity: 1;
        visibility: visible;
        transform: none; } }
  .header .submenu {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 190px;
    height: auto;
    visibility: hidden;
    transform: translateY(1rem);
    background: #fff;
    box-shadow: 0 .9125rem 1.0625rem #0003;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    padding: 12px; }
    @media only screen and (max-width: 999px) {
      .header .submenu {
        display: block;
        position: relative;
        max-height: 0px;
        outline: none;
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        box-shadow: none;
        padding: 0px;
        border-radius: 0px;
        width: 100%; } }
    .header .submenu a {
      display: block;
      font-size: 15px;
      font-weight: 400;
      text-transform: capitalize;
      margin-bottom: 4px; }
      @media only screen and (max-width: 999px) {
        .header .submenu a {
          padding: 0px 12px; } }
      .header .submenu a:last-child {
        margin: 0px; }
      .header .submenu a:hover {
        color: #C5D92D; }
  .header .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    background-color: rgba(0, 0, 0, 0.65); }
    @media only screen and (max-width: 999px) {
      .header .overlay.active {
        display: block;
        opacity: 1;
        visibility: visible; } }
  .header .bottoms {
    position: relative;
    display: flex;
    align-items: center; }
    .header .bottoms .language {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #E5E3FF;
      border-radius: 14px;
      background: #fff;
      width: 40px;
      height: 40px;
      font-weight: 400;
      cursor: pointer;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      .header .bottoms .language:hover {
        background: #C5D92D;
        border: 1px solid #C5D92D; }
        .header .bottoms .language:hover svg {
          fill: #fff; }
      .header .bottoms .language svg {
        min-width: 18px;
        max-width: 18px;
        height: 18px;
        fill: #000;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s; }
    .header .bottoms .login {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      color: #fff;
      outline: none;
      outline-style: none;
      border: 0px;
      text-align: center;
      background: #C5D92D;
      font-weight: 500;
      border: 1px solid #C5D92D;
      border-radius: 4px;
      text-transform: capitalize;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
      cursor: pointer;
      padding: 0px 12px;
      height: 40px;
      min-width: 120px;
      max-width: 120px;
      border: 1px solid #fff;
      color: #fff;
      background: none;
      margin-right: 12px; }
      .header .bottoms .login svg {
        margin-right: 4px;
        max-width: 16px;
        max-height: 16px;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s; }
      .header .bottoms .login:hover {
        background: #6568F4;
        border: 1px solid #6568F4; }
        .header .bottoms .login:hover svg {
          fill: #fff; }
      .header .bottoms .login:focus {
        outline: none;
        outline-style: none; }
    .header .bottoms .bottom {
      margin-right: 12px;
      min-width: 120px;
      max-width: 120px; }
    .header .bottoms .dropdown {
      margin-right: 12px; }
      .header .bottoms .dropdown .dropdown-toggle {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
        width: auto; }
        .header .bottoms .dropdown .dropdown-toggle::after {
          display: none; }
        .header .bottoms .dropdown .dropdown-toggle .photo {
          display: flex;
          margin-right: 4px;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          box-shadow: 0px 4px 24px 0px #0000000D;
          border: 2px solid #fff;
          overflow: hidden; }
          @media only screen and (max-width: 550px) {
            .header .bottoms .dropdown .dropdown-toggle .photo {
              margin: 0px; } }
        .header .bottoms .dropdown .dropdown-toggle img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .header .bottoms .dropdown .dropdown-toggle p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          color: #fff;
          max-width: 76px;
          font-weight: 400; }
          @media (max-width: 999px) {
            .header .bottoms .dropdown .dropdown-toggle p {
              max-width: 100%; } }
        .header .bottoms .dropdown .dropdown-toggle svg {
          fill: #fff;
          margin-top: 12px;
          max-width: 12px; }
          @media (max-width: 999px) {
            .header .bottoms .dropdown .dropdown-toggle svg {
              fill: #fff; } }
      .header .bottoms .dropdown .dropdown-menu.show {
        margin-top: 0px;
        right: 0px !important;
        left: auto !important;
        top: 56px !important;
        min-width: inherit;
        box-shadow: 0px 4px 24px 0px #0000000D;
        border-radius: 0px;
        width: 168px;
        padding: 12px 0px;
        transform: none !important;
        border: 0px;
        z-index: 12;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s; }
        @media (max-width: 999px) {
          .header .bottoms .dropdown .dropdown-menu.show {
            top: 38px !important;
            width: 100%; } }
        .header .bottoms .dropdown .dropdown-menu.show:before {
          display: none; }
        .header .bottoms .dropdown .dropdown-menu.show .dropdown-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          line-height: 18px;
          height: auto;
          border: 0px;
          margin: 0px;
          padding: 8px 12px !important;
          -moz-transition: all 0.5s ease-in-out 0s;
          -o-transition: all 0.5s ease-in-out 0s;
          -webkit-transition: all 0.5s ease-in-out 0s;
          transition: all 0.5s ease-in-out 0s;
          border: 0px !important;
          background: none !important;
          font-size: 15px;
          text-transform: capitalize; }
          .header .bottoms .dropdown .dropdown-menu.show .dropdown-item:active, .header .bottoms .dropdown .dropdown-menu.show .dropdown-item:hover {
            color: #C5D92D;
            background: #f7f8fa !important; }

.towstyle {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 4px 4px 60px #0000000d;
  -moz-box-shadow: 4px 4px 60px #0000000d;
  -o-box-shadow: 4px 4px 60px #0000000d;
  -ms-box-shadow: 4px 4px 60px #0000000d;
  box-shadow: 4px 4px 60px #0000000d; }
  .towstyle .itemlogomenu .burger-line {
    background: #000; }
  .towstyle .menu-link {
    color: #000; }
    .towstyle .menu-link svg {
      fill: #000; }
  @media (max-width: 999px) {
    .towstyle .navbar {
      background: #fff; } }
  .towstyle .bottoms .login {
    color: #000;
    border: 1px solid #000; }
    .towstyle .bottoms .login:hover {
      color: #fff; }
  .towstyle .bottoms .dropdown {
    margin-right: 0px;
    margin-left: 12px; }
    .towstyle .bottoms .dropdown .dropdown-toggle .photo {
      width: 40px;
      height: 40px; }
    .towstyle .bottoms .dropdown .dropdown-toggle p {
      color: #000;
      max-width: 76px; }
    .towstyle .bottoms .dropdown .dropdown-toggle svg {
      fill: #000; }
    .towstyle .bottoms .dropdown .dropdown-menu.show {
      top: 61px !important; }

.slider {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 650px;
  overflow: hidden;
  background: #151528;
  border-bottom: 1px solid #FFFFFF0D; }
  @media (max-width: 999px) {
    .slider {
      height: auto; } }
  .slider .item {
    display: flex;
    align-items: center; }
    @media (max-width: 999px) {
      .slider .item {
        max-width: 100%;
        flex: 100%;
        text-align: center;
        margin-top: 24px;
        justify-content: center; } }
    .slider .item .title {
      display: block;
      color: #fff; }
      @media (max-width: 999px) {
        .slider .item .title {
          justify-content: center;
          text-align: center; } }
    .slider .item .cursor {
      display: inline-block;
      width: 16px;
      height: 4px;
      margin-left: 4px;
      background: #C5D92D;
      animation: blink 900ms steps(1) infinite; }
@keyframes blink {
  50% {
    opacity: 0; } }
    .slider .item .field .form-control {
      border-radius: 60px;
      padding-right: 48px; }
    .slider .item .field button {
      position: absolute;
      right: 22px;
      padding: 0px;
      background: none;
      border: 0px;
      top: 12px;
      cursor: pointer; }
  .slider .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    text-align: center; }
    .slider .photo img {
      max-width: 100%;
      max-height: 100%; }

.userssay {
  position: relative;
  width: 100%;
  padding: 48px 0px;
  background: #151528; }
  @media (max-width: 999px) {
    .userssay {
      padding: 24px 0px; } }
  .userssay::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 44%;
    height: 142px;
    background: #C5D92D; }
    @media (max-width: 999px) {
      .userssay::before {
        display: none; } }
  .userssay .container {
    display: flex;
    align-items: center; }
    @media (max-width: 999px) {
      .userssay .container {
        display: grid; } }
  .userssay .counters {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 50%;
    max-width: 50%;
    height: 142px;
    background: #C5D92D;
    border-radius: 0px 30px 30px 0px;
    margin-right: 32px; }
    @media (max-width: 999px) {
      .userssay .counters {
        margin: 0px;
        margin-top: 24px;
        justify-content: space-between;
        order: 2;
        border-radius: 30px;
        min-width: 100%;
        max-width: 100%;
        height: auto;
        padding: 24px; } }
    @media (max-width: 600px) {
      .userssay .counters {
        display: block; } }
    .userssay .counters .counter-box {
      min-width: 33.333%;
      max-width: 33.333%;
      text-align: center; }
      @media (max-width: 600px) {
        .userssay .counters .counter-box {
          min-width: 100%;
          max-width: 100%;
          margin-bottom: 24px; }
          .userssay .counters .counter-box:last-child {
            margin: 0px; } }
      .userssay .counters .counter-box .number {
        color: #6568F4;
        font-weight: 700;
        font-size: 50px;
        text-align: center; }
        @media (max-width: 999px) {
          .userssay .counters .counter-box .number {
            font-size: 40px; } }
      .userssay .counters .counter-box p {
        color: #fff;
        margin-top: 16px;
        text-align: center;
        font-weight: 400; }
  .userssay .text .title {
    color: #fff; }
    @media (max-width: 999px) {
      .userssay .text .title {
        justify-content: center; } }
  .userssay .text .photos {
    display: flex;
    align-items: center;
    margin-top: 16px; }
    @media (max-width: 999px) {
      .userssay .text .photos {
        justify-content: center; } }
    .userssay .text .photos img {
      min-width: 76px;
      max-width: 76px;
      height: 76px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: -25px;
      border: 1px solid #C5D92D; }

.towslider {
  background: url(../images/slider2.png) no-repeat top right/cover; }
  @media (max-width: 999px) {
    .towslider {
      padding-bottom: 32px; } }
  @media (max-width: 999px) {
    .towslider .item:last-child {
      display: none; } }
  .towslider .item .title {
    font-size: 50px; }
    @media (max-width: 1199px) {
      .towslider .item .title {
        font-size: 40px; } }
    @media (max-width: 999px) {
      .towslider .item .title {
        font-size: 32px; } }
  .towslider .item .banner-imgs {
    position: relative;
    margin-left: 170px; }
    @media (max-width: 1199px) {
      .towslider .item .banner-imgs {
        margin-left: 94px; } }
    .towslider .item .banner-imgs .banner-sm1,
    .towslider .item .banner-imgs .banner-sm2,
    .towslider .item .banner-imgs .banner-sm3 {
      position: absolute;
      top: 4%;
      left: -86px;
      z-index: 12; }
    .towslider .item .banner-imgs .banner-sm1 img {
      width: 251px; }
    .towslider .item .banner-imgs .banner-sm2 {
      top: 43%;
      left: -136px; }
      .towslider .item .banner-imgs .banner-sm2 img {
        width: 144px; }
    .towslider .item .banner-imgs .banner-sm3 {
      top: 62%;
      left: -90px; }
      .towslider .item .banner-imgs .banner-sm3 img {
        width: 251px; }
@keyframes hero-thumb-animation {
  0% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0px); } }
@keyframes hero-thumb-sm-animation {
  0% {
    -webkit-transform: translateY(-20px) translateX(50px);
    -moz-transform: translateY(-20px) translateX(50px);
    -ms-transform: translateY(-20px) translateX(50px);
    transform: translateY(-20px) translateX(50px); }
  100% {
    -webkit-transform: translateY(-20px) translateX(0px);
    -moz-transform: translateY(-20px) translateX(0px);
    -ms-transform: translateY(-20px) translateX(0px);
    transform: translateY(-20px) translateX(0px); } }
@keyframes hero-thumb-sm-2-animation {
  0% {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px); }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); } }
  .towslider .item .shape-1 {
    -webkit-animation: hero-thumb-animation 2s linear infinite alternate;
    -moz-animation: hero-thumb-animation 2s linear infinite alternate;
    -o-animation: hero-thumb-animation 2s linear infinite alternate;
    animation: hero-thumb-animation 2s linear infinite alternate; }
  .towslider .item .shape-2 {
    -webkit-animation: hero-thumb-sm-animation 4s linear infinite alternate;
    -moz-animation: hero-thumb-sm-animation 4s linear infinite alternate;
    -o-animation: hero-thumb-sm-animation 4s linear infinite alternate;
    animation: hero-thumb-sm-animation 4s linear infinite alternate; }
  .towslider .item .shape-3 {
    -webkit-animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
    -moz-animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
    -o-animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
    animation: hero-thumb-sm-2-animation 4s linear infinite alternate; }

.bg {
  background: url(../images/price.png) no-repeat top left; }

.threeslider {
  background: none !important; }
  .threeslider .item .banner-imgs {
    margin: 0px auto;
    width: 400px;
    height: 460px;
    background: #151528;
    border-radius: 150px 150px 0px 0px;
    overflow: hidden; }
    @media (max-width: 999px) {
      .threeslider .item .banner-imgs {
        width: 280px;
        height: 280px; } }
    .threeslider .item .banner-imgs img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .threeslider .item .title {
    font-size: 64px; }
    @media (max-width: 1199px) {
      .threeslider .item .title {
        font-size: 50px; } }
    @media (max-width: 999px) {
      .threeslider .item .title {
        font-size: 40px; } }

.forstyle {
  background: url(../images/forstyle.png) no-repeat top right/cover; }
  .forstyle .item .banner-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-top: 48px; }
    @media (max-width: 999px) {
      .forstyle .item .banner-imgs {
        height: auto;
        margin-top: 0px; } }
    .forstyle .item .banner-imgs img {
      max-width: 100%;
      max-height: 100%; }
  .forstyle .item .title {
    font-size: 50px;
    margin-bottom: 24px; }
    @media (max-width: 999px) {
      .forstyle .item .title {
        font-size: 34px; } }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
hr,
strong,
b,
input,
select,
textarea,
.highcharts-title,
.highcharts-axis-labels,
.highcharts-yaxis-title {
  direction: ltr;
  text-align: left; }

body {
  direction: ltr;
  text-align: left; }

.che-box {
  padding-right: 0px !important;
  padding-left: 36px !important; }
  .che-box input[type="radio"],
  .che-box input[type="checkbox"] {
    left: auto !important;
    right: 9000px !important; }
  .che-box input[type="checkbox"] + .label-text:before,
  .che-box input[type="radio"] + .label-text:before {
    right: auto !important;
    left: 0px !important; }

/*# sourceMappingURL=home-rtl.css.map */
