.cusstyle {
    background: #fff;
    padding-bottom: 24px;
    border-right: 1px solid #F2EDED;
}

.cusstyle.active {
    width: 280px !important;
    left: -100%;
}

@media (max-width: 999px) {
    .cusstyle {
        border: 0px;
    }
    .cusstyle.active {
        left: 0px;
        width: 280px;
    }
}

.cusstyle.active .listmenu a span,
.cusstyle.active .title {
    display: block !important;
}

.cusstyle .imgcent {
    width: 140px !important;
    height: 140px !important;
    margin: 16px auto 0px auto;
}

.cusstyle .title {
    color: #000;
    white-space: normal;
    font-size: 16px;
}

.cusstyle .text {
    color: #000;
    text-align: center;
    margin-top: 12px;
    font-weight: 400;
}

.cusstyle .text b {
    font-weight: bold;
    color: #000;
}

.cusstyle .listmenu {
    padding: 0px;
    margin-top: 24px;
}

.cusstyle .listmenu a {
    padding: 11px 16px;
    margin: 0;
    border-radius: 4px;
}

.cusstyle .listmenu a span {
    color: #121212;
    font-weight: 700;
}

.cusstyle .listmenu a .icon {
    min-width: inherit;
    max-width: inherit;
    height: inherit;
    background: none !important;
    border-radius: 0px;
}

.cusstyle .listmenu a .icon svg {
    width: 20px !important;
    height: 20px !important;
    fill: #64666C;
}

.cusstyle .listmenu a.active,
.cuspageitem .listtask li .bottom:hover,
.cuspageitem .buttons button:hover {
    background: #6568F4;
}

.cusstyle .listmenu a:hover span {
    color: #6568F4;
}

.cusstyle .listmenu a:hover .icon svg {
    fill: #6568F4;
}

.cusstyle .listmenu a.active .icon svg {
    fill: #C5D92D;
}

.cusstyle .listmenu a.active span {
    color: #fff;
}

.cusstyle .logo {
    height: auto;
    margin: 48px 0px 24px 0px;
}

.cusstyle .logo img {
    max-width: 100% !important;
}

.cuspageitem {
    background: #fff;
}

.cuspageitem.active {
    padding-left: 0px;
}

.cuspageitem.active .header {
    width: 100%;
}


/* ::-webkit-scrollbar-thumb {
    background-color: #C5D92D;
} */

.cuspageitem .header .bottoms .dropdown .dropdown-menu.show .dropdown-item:active,
.cuspageitem .header .bottoms .dropdown .dropdown-menu.show .dropdown-item:hover,
.cuspageitem .header .bottoms .language:hover {
    color: #C5D92D;
}

.cuspageitem .innerpage .minhead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cuspageitem .innerpage .minhead .title {
    font-size: 24px;
    padding-left: 16px;
}

.cuspageitem .innerpage .minhead .title::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 8px;
    height: 32px;
    background: #C5D92D;
    border-radius: 8px;
}

.cuspageitem .innerpage .minhead p {
    color: #121212;
    font-size: 20px;
    font-weight: 700;
    margin-top: 12px;
}

.cuspageitem .innerpage .minhead .icon svg {
    width: 55px;
    height: 68px;
}

.cuspageitem .listtask li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid #E5E5E5;
    margin-top: 24px;
}

@media (max-width:550px) {
    .cuspageitem .listtask li {
        display: block;
    }
    .cuspageitem .listtask li .bottom {
        min-width: 100% !important;
        margin-top: 12px;
    }
}

.cuspageitem .listtask li .title {
    color: #121212;
    font-size: 16px;
    font-weight: 700;
}

.cuspageitem .listtask li p {
    margin-top: 4px;
    color: #64666C;
    font-size: 14px;
    font-weight: 400;
}

.cuspageitem .listtask li .bottom {
    min-width: 184px;
    background: #C5D92D;
    border: 0px !important;
}

.step-wizard {
    position: relative;
    display: flex;
    /* justify-content: space-between;   */
}

.step-wizard .step {
    position: relative;
    width: 100%;
    /* min-width: 33.333%; */
}

.step-wizard .step:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #D2D6DB;
}

.step-wizard .step .circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #D2D6DB;
    background: #fff;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #2E2C3A33;
}

.step-wizard .step .circle svg,
.step-wizard .step.finish .circle span {
    display: none;
}

.step-wizard .step.finish .circle svg {
    display: block;
}

.step-wizard .step.finish:before {
    background: #C5D92D;
}

.step-wizard .step.active .circle,
.step-wizard .step.finish .circle {
    border: 2px solid #C5D92D;
    color: #C5D92D;
}

.step-wizard .step .title {
    font-size: 18px;
    font-weight: 500;
}

.step-wizard .step p {
    font-size: 14px;
    font-weight: 400;
    color: #384250;
}

.tabwizard {
    display: none;
}

.tabwizard.active {
    display: block;
}

.tabwizard .field label {
    font-weight: 600;
    font-size: 20px;
}

.tabwizard .field label em {
    color: red;
}

.tabwizard .field .form-control,
.tabwizard .field .select2-container--bootstrap .select2-selection--multiple,
.tabwizard .select2-container--bootstrap .select2-selection--single,
.tabwizard .nots {
    background: #FBFCF0;
    border: 1px solid #E5E5E5;
}

.tabwizard .field .form-control:focus {
    border: 1px solid #C5D92D;
}

.tabwizard p.text {
    margin-top: 12px;
    font-weight: 400;
    color: #12121280;
}

.tabwizard .field .itemselect {
    position: absolute;
    right: 0;
    top: 0;
    width: 74px;
    height: 100%;
}

.tabwizard .field .itemselect select {
    background: none;
    height: 100%;
    background: #c3d72c;
    color: #fff;
    width: 100%;
    padding: 0px 8px;
    font-weight: 500;
    border-radius: 0px .25rem .25rem 0px;
}

.tabwizard .nots {
    border-radius: .25rem;
    padding: 12px;
    color: #12121280;
    font-weight: 400;
    margin-top: 24px;
}

.tabwizard .field .itemselect select:focus-visible {
    outline: 0;
}

.cuspageitem .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.cuspageitem .buttons button {
    min-width: 144px;
    height: 46px;
    border: 0px;
    background: #C5D92D;
}

.cuspageitem .buttons button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.tabwizard .listjobs,
.tabwizard .textlistjob {
    margin-top: 24px;
}

.tabwizard .listjobs .title {
    font-size: 30px;
}

.tabwizard .textlistjob {
    border: 1px solid #CECECE;
    border-radius: 20px;
}

.tabwizard .textlistjob li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #CECECE;
}

.tabwizard .textlistjob li:last-child {
    border: 0px;
}

.tabwizard .textlistjob li p {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.tabwizard .textlistjob li p svg {
    margin-right: 4px;
    max-height: 40px;
}

.tabwizard .textlistjob li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #C5D92D;
    transition: all 0.5s ease-in-out 0s;
}

.tabwizard .textlistjob li a svg {
    fill: #C5D92D;
    max-width: 20px;
    max-height: 20px;
    transition: all 0.5s ease-in-out 0s;
}

.tabwizard .textlistjob li a:hover {
    background: #C5D92D;
}

.tabwizard .textlistjob li a:hover svg {
    fill: #fff;
}

.subchek {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.chooseinvite {
    grid-template-columns: repeat(1, 1fr);
}

.subchek .che-box .text-chek {
    padding: 20px;
    cursor: pointer;
    white-space: normal;
}

.subchek .che-box {
    display: block;
    position: relative;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0;
    margin-top: 12px;
}

.subchek .che-box input[type="checkbox"]+.label-text:before,
.subchek .che-box input[type="radio"]+.label-text:before {
    top: 20px;
    left: 20px;
}

.subchek .label-text::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ced4da;
    animation: effect 250ms ease-in;
    border-radius: 8px;
}

.subchek .che-box input[type="radio"]:checked+.label-text:after {
    border: 1px solid #C5D92D;
    background: #fbfcf0;
}

.subchek .che-box input[type="checkbox"]:checked+.label-text:before,
.subchek .che-box input[type="radio"]:checked+.label-text:before,
.tabwizard .flexbox .che-box input[type="checkbox"]:checked+.label-text:before,
.tabwizard .flexbox .che-box input[type="radio"]:checked+.label-text:before {
    background: #C5D92D !important;
}

.subchek .text-chek .title {
    font-size: 16px;
}

.subchek .text-chek h4.title {
    padding-left: 24px;
}

.subchek .text-chek p {
    position: relative;
    margin-top: 8px;
    color: #64666C;
    font-size: 14px;
    font-weight: 400;
}

.tabwizard .flexbox {
    margin-top: 12px;
}

.tabwizard .flexbox label {
    color: #12121280;
    font-size: 16px;
    font-weight: 400;
}

.tabwizard .select2-container--bootstrap .select2-selection--multiple {
    background: #fbfcf0 url(../images/arrow.svg) no-repeat right 12px center !important;
    background-size: 12px 12px !important;
    padding-right: 20px;
}

@media (max-width:999px) {
    .step-wizard .step .title {
        font-size: 14px;
    }
    .subchek {
        grid-template-columns: repeat(1, 1fr);
    }
    .step-wizard .step {
        overflow: hidden;
    }
}

.hidefield {
    display: none;
}