/* Slider */

.slider-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: 10;
    background: #fff;
}

.slider-loader .spinner {
    width: 45px;
    height: 45px;
    border: 4px solid #f3f4f6;
    border-top: 4px solid #C5D92D;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.slick-loading {
    visibility: hidden;
    opacity: 0;
}

.slick-loaded {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.slidercard .item {
    padding: 16px;
    border-radius: 20px;
    min-height: 380px;
    background: #F0F0FE;
}

.howplatform .subitem {
    padding: 32px;
    overflow: hidden;
}

.slidercard .item .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.slidercard .item .photo img {
    max-width: 100%;
    max-height: 100%;
}

.slidercard .item .title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 12px;
}

.slidercard .item p {
    font-weight: 500;
    margin-top: 8px;
}

.slick-dots li button {
    color: #ec008c !important;
    font-size: 12px;
}

.slick-prev:before,
.slick-next:before {
    color: #ec008c !important;
    font-size: 24px;
}

.slick-slider {
    position: relative;
    display: block;
    width: 350px;
    height: 448px;
    margin-top: 24px;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width:400px) {
    .slick-slider {
        max-width: 270px;
    }
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 0px 8px;
}


/* [dir='rtl'] .slick-slide {
    float: right;
} */

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* .slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
} */


/* Icons */


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    display: none !important;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* .slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -25px;
} */


/* [dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
} */


/* Dots */

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    margin-top: 16px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 6px;
    margin: 0 5px;
    background: #EBEBFF;
    padding: 0;
    cursor: pointer;
    border-radius: 24px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 4px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li.slick-active {
    background: #000
}