@import 'helpers/mixins';
@import 'helpers/variables';
@import 'layout/header';
@import 'layout/slider';
$direction:ltr;
$right:left;
$left:right;
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
hr,
strong,
b,
input,
select,
textarea,
.highcharts-title,
.highcharts-axis-labels,
.highcharts-yaxis-title {
    direction: $direction;
    text-align: $right;
}

body {
    direction: $direction;
    text-align: $right;
}

.che-box {
    padding-right: $zero !important;
    padding-left: 36px !important;
    input[type="radio"],
    input[type="checkbox"] {
        left: $auto !important;
        right: 9000px !important;
    }
    input[type="checkbox"]+.label-text:before,
    input[type="radio"]+.label-text:before {
        right: $auto !important;
        left: $zero !important;
    }
}