@mixin reset {
    text-align: $left;
    margin: $zero;
    padding: $zero;
    border: $zero;
    text-decoration: $none;
    list-style: $none;
    font-size: $fontsize;
    line-height: $lineheight;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
    color: $colortext;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin overlay {
    content: '';
    @include position(absolute, $top: 0, $left: 0, $right: auto, $bottom: auto);
    width: $fullwidth;
    height: $fullwidth;
}

@mixin section {
    position: relative;
    width: $fullwidth;
    padding: $com-spacing-8 $zero;
    @media (max-width: 999px) {
        padding: $com-spacing-6 $zero;
    }
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}

@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}

@mixin scale($degscale) {
    -webkit-transform: scale($degscale);
    -moz-transform: scale($degscale);
    -ms-transform: scale($degscale);
    -o-transform: scale($degscale);
    transform: scale($degscale);
}

@mixin bottom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: $white;
    outline: $none;
    outline-style: $none;
    border: $zero;
    text-align: center;
    background: $green;
    font-weight: 500;
    border: 1px solid $green;
    border-radius: 4px;
    text-transform: capitalize;
    @include transition(all 0.5s ease-in-out 0s);
    cursor: pointer;
    padding: $zero $com-spacing-3;
    height: 40px;
    svg {
        margin-right: $com-spacing-1;
        max-width: 16px;
        max-height: 16px;
        @include transition(all 0.5s ease-in-out 0s);
    }
    &:hover {
        background: $blue;
        border: 1px solid $blue;
        svg {
            fill: $white;
        }
    }
    &:focus {
        outline: $none;
        outline-style: $none;
    }
}

@mixin prefixer ($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

@mixin keyFrame ($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin social {
    display: flex;
    align-items: center;
    a {
        @include flex;
        position: relative;
        @include transition(all 0.5s ease-in-out 0s);
        color: $white;
        span {
            @media (max-width: 767px) {
                display: $none;
            }
        }
        svg {
            fill: $blue;
            width: 20px;
            height: 20px;
        }
        &.icon-twitter svg path {
            fill: $blue;
        }
        @each $type in $social {
            &.icon-#{nth($type, 1)} {
                &:hover {
                    // transform: rotate(360deg);
                    // @include prefixer (box-shadow, 4px 4px 60px rgba(0, 0, 0, 0.1), webkit moz o ms);
                    // &::before {
                    //     transform: scaleX(1.0);
                    // }
                    svg {
                        fill: nth($type, 2) !important;
                    }
                    &.icon-twitter path {
                        fill: nth($type, 2) !important;
                    }
                }
            }
        }
    }
}

@mixin socialblogs {
    display: flex;
    align-items: center;
    a {
        @include flex;
        position: relative;
        margin-left: $com-spacing-3;
        svg {
            width: 20px;
            height: 20px;
            @include transition(all 0.5s ease-in-out 0s);
        }
        @each $type in $social {
            &.icon-#{nth($type, 1)} {
                svg {
                    fill: nth($type, 2) !important;
                }
                &.icon-twitter path {
                    fill: nth($type, 2) !important;
                }
                &:hover {
                    svg {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@mixin keyFrame ($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin input {
    height: 56px;
    background: #FBFCF0;
    border: 1px solid #E5E5E5;
    text-transform: $none;
    font-weight: 500;
    @include transition(all 0.5s ease-in-out 0s);
    &:focus,
    &:hover,
    &:focus-visible {
        outline: 0;
        outline-style: $none;
        background: #FBFCF0;
        border: 1px solid $green;
    }
}

@mixin title {
    display: flex;
    align-items: center;
    color: $blak;
    font-size: 38px;
    line-height: 120%;
    font-weight: 700;
    @include position(relative);
    text-transform: capitalize;
    @include transition(all 0.5s ease-in-out 0s);
    @media (max-width: 999px) {
        font-size: 28px;
        br {
            display: none;
        }
    }
    span {
        color: $green;
    }
}

@mixin hyprlink {
    display: inline-block;
    width: 48%;
    @include position(relative);
    font-weight: 300;
    color: $blak;
    @include transition(all 0.5s ease-in-out 0s);
    @media (min-width: 1600px) {
        font-size: 22px;
    }
    &:hover {
        color: $green;
        opacity: 1;
    }
}

@mixin map-back {
    @include section;
    @include flex;
    background: $dark;
    height: 248px;
    @media (max-width: 999px) {
        height: 160px;
    }
    // .container {
    //     z-index: 10;
    // }
    .title {
        color: $white;
        text-align: center;
        justify-content: center;
    }
    .maplink {
        justify-content: center;
        margin-top: $com-spacing-2;
        @media (max-width: 999px) {
            display: none;
        }
        li {
            color: #c1bfbf;
            a {
                color: $white;
                font-size: 16px;
                &::before {
                    color: $white;
                }
            }
        }
    }
    .photo {
        position: absolute;
        left: $zero;
        top: $zero;
        width: $fullwidth;
        height: $fullwidth;
        img {
            width: $fullwidth;
            height: $fullwidth;
            object-fit: cover;
        }
    }
}

@mixin maplink {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
        display: $inline;
        color: #737373;
        margin-right: $com-spacing-2;
        text-transform: capitalize;
        font-weight: 400;
        &:last-child {
            margin-left: $zero;
            a {
                padding-right: $zero;
            }
        }
        a {
            color: $dark;
            position: relative;
            font-weight: 400;
            text-transform: capitalize;
            padding-right: $com-spacing-4;
            @include transition(all 0.5s ease-in-out 0s);
            &:hover {
                color: $green;
            }
            &:before {
                @include position(absolute, $top: -6px, $right: $zero);
                content: "/";
                display: $inline;
                color: #737373;
            }
        }
    }
}

@mixin styleslider {
    @include position(relative);
    .slick-list {
        @include position(relative);
        display: $block;
        overflow: hidden;
        outline: $none;
        margin: $zero -8px;
        .slick-track {
            @include position(relative, $top: 0, $left: auto, $right: auto, $bottom: auto);
            display: $block;
            overflow: hidden;
            &:after,
            &:before {
                display: table;
                content: '';
            }
        } /// End .slick-track
    } /// End .Slick-list
    .slick-prev,
    .slick-next {
        @include position(absolute, $top: -58px);
        width: 32px;
        height: 32px;
        cursor: pointer;
        border: $zero;
        padding: $zero;
        outline: $none;
        font-size: $zero;
        background: $none;
        border: 1px solid #e8e9ee;
        border-radius: 50%;
        @include transition(all 0.5s ease-in-out 0s);
        @media (max-width: 1280px) {}
        svg {
            width: 10px;
            height: 10px;
            fill: $colortext;
            @include transition(all 0.5s ease-in-out 0s);
        }
        &:hover {
            background: $green;
            border: 1px solid $green;
            svg {
                fill: $white;
            }
        }
    }
    .slick-next {
        right: $zero;
    }
    .slick-prev {
        right: 38px;
    }
    .slick-dots {
        @include flex;
        width: $fullwidth;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {}
        li {
            @include position(relative);
            display: $inline;
            margin: $zero $com-spacing-1;
            padding: $zero;
            cursor: pointer;
            width: 12px;
            height: 12px;
            button {
                font-size: $zero;
                line-height: $zero;
                display: $block;
                width: 12px;
                height: 12px;
                cursor: pointer;
                border: $zero;
                outline: $none;
                background: #d9000d47;
                padding: $zero;
                @include border-radius(50%);
                @media (max-width: 450px) {
                    width: 12px;
                    height: 12px;
                }
            }
        }
        li.slick-active {
            button {
                background: $green !important;
            }
        }
    }
}

@mixin check-box {
    position: relative;
    cursor: pointer;
    font-weight: normal;
    margin: $zero;
    width: 19px;
    height: 19px;
    input[type="checkbox"],
    input[type="radio"] {
        @include position(absolute, $right: 9000px);
    }
    input[type="checkbox"]+.label-text:before,
    input[type="radio"]+.label-text:before {
        content: ' ';
        font-size: 1.5em;
        display: block;
        text-align: center;
        border: 1px solid #ced4da;
        background: $white;
        width: 19px;
        height: 19px;
        line-height: 19px;
        position: absolute;
        z-index: 1;
        top: 5px;
        left: 0;
        box-sizing: border-box;
        border-radius: 50%;
    }
    input[type="checkbox"]+.label-text:before {
        @include border-radius(4px);
    }
    input[type="radio"]:checked+.label-text:before {
        background: $green !important;
        box-shadow: inset 0 0 0px 4px $white;
    }
    input[type="checkbox"]:checked+.label-text:before {
        background: $green url(../images/tick.svg) no-repeat center center !important;
        border: 1px solid $green;
        box-shadow: none;
    }
    span.label-text {
        font-style: normal;
        text-transform: capitalize;
        @media (max-width: 991px) {}
    }
    // @keyframes effect {
    //     0% {
    //         transform: scale(0);
    //     }
    //     25% {
    //         transform: scale(1.3);
    //     }
    //     75% {
    //         transform: scale(1.4);
    //     }
    //     100% {
    //         transform: scale(1);
    //     }
    // }
}