$direction:ltr;
$right:right;
$left:left;
$senter:center;
$overflow: hidden;
$lineheight:28px;
$fontsize :16px;
$fontlurg :30px;
$none:none;
$inline: inline-block;
$block: block;
$fixed: fixed;
$zindex:1000;
$zero:0px;
$white:#fff;
$dark:#151528;
$moov:#b51f76;
$pink:#FF5E7D;
$red:#d9000d;
$brick:#CA6363;
$green: #C5D92D;
$burgundy:#701729;
$gray:#606367;
$yellow: #F6BE4F;
$orange:#f87412;
$blue:#6568F4;
// $beige:#E4B24B;
$beige:#a6844f;
$colortext:#464646;
$color-input:#dfdfdf;
$colorselect:#c9c9c9;
$blak:#000;
$color:#9EA0A5;
$ofwhite:#f7f8fa;
$minmargin:15px;
$maxmargin:30px;
$fullwidth:100%;
$com-spacing-1:4px;
$com-spacing-2:8px;
$com-spacing-3:12px;
$com-spacing-4:16px;
$com-spacing-5:20px;
$com-spacing-6:24px;
$com-spacing-7:32px;
$com-spacing-8:48px;
$com-spacing-9:64px;
$auto:auto;
$transparent:transparent;
$social: facebook #3b5998,
twitter #00acee,
instagram #8d5b46,
youtube #c4302b,
rss #ee802f,
linkedin #007fb1,
gplus #dd4b39,
whatsapp #189d0e,
snapchat #e2df01,
telegram #32afed;