.aboutus {
    @include section;
    background: $dark;
    &::before {
        content: "";
        position: absolute;
        right: $zero;
        width: 44%;
        height: 480px;
        background: $green;
        @media (max-width: 999px) {
            display: none;
        }
    }
    .item {
        display: flex;
        align-items: center;
        @media (max-width: 999px) {
            max-width: $fullwidth;
            flex: $fullwidth;
            margin-bottom: $com-spacing-6;
            &:last-child {
                margin: $zero;
            }
        }
        .title {
            display: block;
            color: $white;
        }
        .text {
            margin-top: $com-spacing-4;
            font-weight: 400;
            color: $white;
            text-transform: capitalize;
        }
        .photo {
            @include flex;
            width: $fullwidth;
            height: 480px;
            background: $green;
            padding: $com-spacing-6;
            border-radius: 30px $zero $zero 30px;
            overflow: hidden;
            @media (max-width: 999px) {
                height: auto;
                border-radius: 30px;
            }
            img {
                max-width: $fullwidth;
                max-height: $fullwidth;
            }
        }
        .more {
            display: flex;
            align-items: center;
            margin-top: $com-spacing-4;
            color: $white;
            font-weight: 400;
            @include transition(all 0.5s ease-in-out 0s);
            &:hover {
                color: $green;
            }
        }
    }
}

.transforming {
    @include section;
    .title {
        justify-content: center;
    }
    .itemrow {
        .item {
            display: flex;
            align-items: center;
            margin-top: $com-spacing-8;
            @media (max-width: 999px) {
                max-width: $fullwidth;
                flex: $fullwidth;
                margin-top: $com-spacing-6;
            }
            .photo {
                @include flex;
                width: $fullwidth;
                height: 380px;
                background: $ofwhite;
                @include prefixer (box-shadow, 4px 4px 60px #0000000d, webkit moz o ms);
                border-radius: 12px;
                overflow: hidden;
                @media (max-width: 999px) {
                    height: 280px;
                }
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    object-fit: cover;
                }
            }
            .title {
                font-size: 24px;
                font-weight: 600;
                justify-content: flex-start;
                @media (max-width: 991px) {
                    font-size: 20px;
                }
            }
            span {
                display: block;
                color: $red;
                font-weight: 500;
                margin-top: $com-spacing-2;
            }
            p {
                margin-top: $com-spacing-2;
                font-weight: 500;
                @media (max-width: 991px) {}
            }
        }
        &:nth-child(even) {
            .item {
                &:last-child {
                    order: -1;
                    @media (max-width: 991px) {
                        order: inherit;
                    }
                }
            }
        }
    }
}

.conditions {
    @include section;
    overflow: hidden;
    .title {
        justify-content: center;
    }
    .item {
        margin-top: $com-spacing-9;
        &:nth-child(even) {
            margin-top: 100px;
        }
        @media (max-width: 999px) {
            max-width: 50%;
            flex: 50%;
            margin-top: $com-spacing-6 !important;
        }
        @media (max-width: 500px) {
            max-width: $fullwidth;
            flex: $fullwidth;
        }
        .photo {
            position: relative;
            width: $fullwidth;
            height: 154px;
            text-align: center;
            svg,
            img {
                max-width: $fullwidth;
                max-height: $fullwidth;
            }
        }
        .title {
            font-size: 24px;
            font-weight: 600;
            margin-top: $com-spacing-4;
        }
        p {
            font-weight: 500;
            text-align: center;
            margin-top: $com-spacing-2;
        }
    }
}

.successstories {
    @include section;
    background: #fef8f8;
    .title {
        justify-content: center;
    }
    .item {
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            max-width: 50%;
            flex: 50%;
        }
        @media (max-width:767px) {
            max-width: $fullwidth;
            flex: $fullwidth;
        }
        .inner {
            position: relative;
            width: $fullwidth;
            height: $fullwidth;
            padding: $com-spacing-4;
            background: $white;
            border-radius: 12px;
            border: 1px solid #f3f3f3;
            cursor: pointer;
            @include prefixer (box-shadow, 4px 4px 60px #0000000d, webkit moz o ms);
        }
        .photo {
            position: relative;
            display: block;
            width: $fullwidth;
            height: 240px;
            background: $ofwhite;
            border-radius: 12px;
            overflow: hidden;
            @media (max-width: 999px) {
                height: 200px;
            }
            &:hover {
                img {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
                @include transition(all 0.5s ease-in-out 0s);
            }
        }
        .title {
            margin-top: $com-spacing-2;
            font-size: 24px;
            font-weight: 600;
        }
    }
}