.contact-item {
    @include section;
    margin-bottom: 100px;
    @media (max-width: 999px) {
        margin: $zero;
    }
    .inner {
        display: grid;
        grid-template-columns: 1fr 500px;
        border-radius: 30px;
        background: $dark;
        overflow: hidden;
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
        }
        .photo {
            width: $fullwidth;
            height: $fullwidth;
            overflow: hidden;
            @media (max-width: 999px) {
                display: none;
            }
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
            }
            .text {
                width: $fullwidth;
                background: $green;
                padding: $com-spacing-6;
                .logo {
                    img {
                        width: 232px;
                        height: 67px;
                        object-fit: inherit;
                    }
                }
                .title {
                    font-size: 32px;
                    font-weight: 500;
                    color: $white;
                    margin-top: $com-spacing-5;
                    @media (max-width: 999px) {
                        font-size: 26px;
                    }
                }
                p {
                    color: $white;
                    font-weight: 400;
                    margin-top: $com-spacing-2;
                }
            }
        }
        .item {
            padding: $com-spacing-8;
            @media (max-width: 999px) {
                padding: $com-spacing-6;
            }
            .title {
                color: $white;
            }
            .field {
                label {
                    color: $white;
                }
                .form-control {
                    background: $none;
                    border: 1px solid $white;
                    color: $white;
                    &:focus {
                        border: 1px solid $green;
                    }
                }
                 ::placeholder {
                    color: $white;
                    opacity: 1;
                    /* Firefox */
                }
                 ::-ms-input-placeholder {
                    /* Edge 12 -18 */
                    color: $white;
                }
                em {
                    color: $green;
                }
            }
        }
    }
}