.scrollToTop {
    @include position(fixed, $left: $com-spacing-3, $bottom: $com-spacing-3);
    display: $none !important;
    width: 44px;
    height: 44px;
    border: $zero;
    background: $green;
    z-index: 998;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px;
    @media (max-width: 999px) {
        display: $none !important;
    }
    svg {
        @include rotate(90deg);
        width: 15px;
        height: 15px;
        path {
            fill: $white;
        }
    }
    &.btntop {
        display: block !important;
        @media (max-width: 991px) {
            display: $none !important;
        }
    }
}

.footer {
    position: relative;
    width: $fullwidth;
    background: linear-gradient(0deg, #151528, #151528), linear-gradient(180deg, rgba(0, 0, 0, 0) 56.72%, rgba(70, 64, 222, 0.2) 100%);
    @media (max-width: 999px) {
        padding-top: $com-spacing-6;
    }
    .getthings {
        position: absolute;
        left: $com-spacing-3;
        top: -104px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 24px);
        background: #18182F;
        border: 1px solid #B8BAFA;
        box-shadow: 0px 54px 34px 0px #0000001A;
        border-radius: 20px;
        padding: $com-spacing-7;
        @media (max-width: 999px) {
            display: block;
            padding: $com-spacing-6;
            position: relative;
            top: auto;
            left: auto;
        }
        .flex {
            display: flex;
            align-items: center;
            @media (max-width: 767px) {
                display: block;
            }
            .barcode {
                @include flex;
                min-width: 142px;
                max-width: 142px;
                height: 142px;
                background: $white;
                border-radius: 10px;
                padding: $com-spacing-2;
                margin-right: $com-spacing-4;
                overflow: hidden;
                @media (max-width: 767px) {
                    margin: $zero $auto;
                }
                img {
                    max-width: $fullwidth;
                    max-height: $fullwidth;
                }
            }
            .title {
                font-size: 24px;
                color: $blue;
                @media (max-width: 767px) {
                    text-align: center;
                    justify-content: center;
                    margin-top: $com-spacing-3;
                }
            }
            p {
                font-size: 14px;
                font-weight: 400;
                color: #E8E8EB;
                margin-top: $com-spacing-1;
                @media (max-width: 767px) {
                    text-align: center;
                }
            }
            .icons {
                display: flex;
                flex-wrap: wrap;
                @media (max-width: 767px) {
                    zoom: 80%;
                    justify-content: center;
                }
                a {
                    display: block;
                    margin: $com-spacing-2 $com-spacing-2 $zero $zero;
                    &:last-child {
                        margin-right: $zero;
                    }
                    img {
                        width: 139px;
                        height: 43px;
                    }
                }
            }
        }
        .social {
            @media (max-width: 999px) {
                justify-content: center;
                margin-top: $com-spacing-6;
            }
            a {
                margin-left: $com-spacing-4;
                @media (max-width: 999px) {
                    margin: $zero $com-spacing-2;
                }
            }
        }
    }
    .alllinks {
        display: flex;
        margin-top: 144px;
        @media (max-width: 999px) {
            display: block;
            max-width: $fullwidth;
            flex: $fullwidth;
            margin-top: $zero;
        }
        .inner {
            min-width: calc(100% / 3);
            // margin-left: $com-spacing-5;
            @media (max-width: 999px) {
                margin-top: $com-spacing-6;
                min-width: $fullwidth;
                max-width: $fullwidth;
                text-align: center;
            }
            .title {
                color: $white;
                font-size: 20px;
                @media (max-width: 999px) {
                    justify-content: center;
                }
            }
        }
        .list {
            margin-top: $com-spacing-3;
            a {
                display: block;
                width: $fullwidth;
                color: #D5DFF0;
                text-transform: capitalize;
                font-weight: 400;
                margin-top: $com-spacing-2;
                @include transition(all 0.5s ease-in-out 0s);
                @media (max-width: 999px) {
                    text-align: center;
                }
                &:hover {
                    color: $green;
                }
            }
        }
    }
    .boxfot {
        margin-top: 144px;
        @media (max-width: 999px) {
            order: -1;
            max-width: $fullwidth;
            flex: $fullwidth;
            margin-top: $com-spacing-8;
        }
        .logo {
            @media (max-width: 999px) {
                text-align: center;
            }
            img {
                max-width: 232px;
            }
        }
        p {
            color: #D5DFF0;
            font-weight: 400;
            padding-right: 20%;
            margin-top: $com-spacing-6;
            @media (max-width: 999px) {
                padding: $zero;
                text-align: center;
            }
        }
    }
    .copyright {
        @include flex;
        width: $fullwidth;
        padding: $com-spacing-4 $zero;
        margin-top: $com-spacing-9;
        border-top: 1px solid #FFFFFF1A;
        @media (max-width: 999px) {
            padding: $com-spacing-3 $zero;
            margin-top: $com-spacing-6;
        }
        p {
            font-weight: 400;
            color: #D5DFF0;
        }
    }
}