.header {
    width: $fullwidth;
    background: $dark;
    z-index: 1002;
    @include transition(all 0.5s ease-in-out 0s);
    @media (max-width: 999px) {
        padding: $com-spacing-3 $zero;
    }
    &.sticky {
        position: fixed;
        top: $zero;
        left: $zero;
        @include prefixer (box-shadow, 4px 4px 60px #0000000d, webkit moz o ms);
        @include transition(all 0.5s ease-in-out 0s);
    }
    @media (max-width:767px) {}
    .flexrow {
        position: initial;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: $fullwidth;
        @media (max-width: 999px) {
            position: relative;
        }
    }
    .itemlogomenu {
        display: flex;
        align-items: center;
        width: $fullwidth;
        .logo {
            img {
                max-width: 158px;
                @media (max-width: 999px) {
                    max-width: 138px;
                }
            }
        }
        .burger {
            position: absolute;
            right: $com-spacing-3;
            display: none;
            cursor: pointer;
            user-select: none;
            width: 24px;
            height: 1rem;
            visibility: hidden;
            background: transparent;
            &-line {
                position: absolute;
                display: block;
                right: 0;
                width: 100%;
                height: 2px;
                opacity: 1;
                border: none;
                outline: none;
                background: $white;
                &:nth-child(1) {
                    top: 0px;
                }
                &:nth-child(2) {
                    top: 0.5rem;
                    width: 80%;
                }
                &:nth-child(3) {
                    top: 1rem;
                    width: 60%;
                }
            }
            // Responsive Media Query
            @media only screen and (max-width: 999px) {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .socialicons {
        @media screen and (max-width: 999px) {
            display: flex;
            justify-content: center;
            a {
                margin: $zero 6px;
            }
        }
    }
    .navbar {
        position: inherit;
        padding: $zero;
        width: $fullwidth;
        .logo {
            display: none;
            position: absolute;
            top: $com-spacing-6;
            left: $com-spacing-3;
            @media screen and (max-width: 999px) {
                display: block;
                // margin: $com-spacing-6 $zero;
            }
            img {
                display: block;
                max-width: 164px;
            }
        }
        .cancel {
            display: none;
            position: absolute;
            top: 18px;
            right: 18px;
            z-index: 10;
            svg {
                width: 18px;
                height: 18px;
            }
        }
        @media screen and (max-width: 999px) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 290px;
            height: 100%;
            z-index: 10;
            overflow: hidden;
            overflow-y: auto;
            visibility: hidden;
            background: $dark;
            transition: all 0.5s ease;
            &.active {
                left: 0rem;
                opacity: 1;
                visibility: visible;
            }
            .cancel {
                display: block;
            }
            .bottoms {
                width: $fullwidth;
                display: block;
                padding: $zero $com-spacing-3;
                .language,
                .login,
                .bottom,
                .dropdown {
                    width: $fullwidth;
                    margin: $zero;
                    margin-bottom: $com-spacing-3;
                }
                .login,
                .bottom {
                    min-width: $fullwidth;
                }
            }
        }
    }
    // Menu
    .menu {
        display: flex;
        align-items: center;
        margin-left: $com-spacing-9;
        @media (max-width: 1220px) {
            margin-left: $com-spacing-2;
        }
        @media (max-width: 999px) {
            margin: $zero;
        }
        &-item {
            position: relative;
            display: inline-block;
            margin-right: $com-spacing-7;
            // @include transition(all 0.5s ease-in-out 0s);
            @media (max-width: 1220px) {
                margin-right: 4px;
            }
            &:last-child {
                margin: $zero;
            }
        }
        &-link {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 0.25rem;
            font-weight: 500;
            padding: $com-spacing-6+$com-spacing-1 $zero;
            cursor: pointer;
            color: $white;
            text-transform: capitalize;
            @include transition(all 0.5s ease-in-out 0s);
            svg {
                position: relative;
                max-width: 14px;
                max-height: 14px;
                fill: $white;
                margin-top: $com-spacing-1;
                @include transition(all 0.5s ease-in-out 0s);
                @media only screen and (max-width: 999px) {
                    z-index: -1;
                }
            }
        }
        // Responsive Media Query
        @media only screen and (min-width: 999px) {
            &-dropdown:hover {
                >.submenu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    z-index: 100;
                }
            }
        }
        // Responsive Media Query
        @media only screen and (max-width: 999px) {
            display: block;
            width: 100%;
            height: auto;
            padding: $zero $com-spacing-4;
            margin-top: 92px;
            &-item {
                display: block;
                padding: $zero;
                margin: $zero;
                margin-bottom: $com-spacing-2;
                &:last-child {
                    margin-bottom: $zero;
                }
            }
            &-link {
                padding: $zero;
                justify-content: space-between;
            }
        }
        .activelink {
            .menu-link {
                svg {
                    fill: $green;
                }
            }
        }
        .activelink,
        .menu-item:hover {
            .menu-link {
                color: $green;
                svg {
                    fill: $green;
                }
            }
        }
        .activelink {
            .submenu {
                @media only screen and (max-width: 999px) {
                    opacity: 1;
                    visibility: visible;
                    transform: none;
                }
            }
        }
    }
    // Submenu
    .submenu {
        position: absolute;
        top: $fullwidth;
        left: $zero;
        width: 190px;
        height: auto;
        // border-radius: 0px 0px 8px 8px;
        visibility: hidden;
        transform: translateY(1rem);
        background: $white;
        box-shadow: 0 .9125rem 1.0625rem #0003;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        padding: $com-spacing-3;
        // Responsive Media Query
        @media only screen and (max-width: 999px) {
            display: block;
            position: relative;
            max-height: 0px;
            outline: none;
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
            box-shadow: none;
            padding: $zero;
            border-radius: $zero;
            width: $fullwidth;
        }
        a {
            display: block;
            // @include transition(all 0.5s ease-in-out 0s);
            font-size: 15px;
            font-weight: 400;
            text-transform: capitalize;
            margin-bottom: $com-spacing-1;
            @media only screen and (max-width: 999px) {
                padding: $zero $com-spacing-3;
            }
            &:last-child {
                margin: $zero;
            }
            &:hover {
                color: $green;
            }
        }
    }
    // Overlay
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9;
        visibility: hidden;
        transition: all 0.35s ease-in-out;
        background-color: rgba(0, 0, 0, 0.65);
        // Responsive Media Query
        @media only screen and (max-width: 999px) {
            &.active {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    /* End NavMenu */
    .bottoms {
        position: relative;
        display: flex;
        align-items: center;
        .language {
            @include flex;
            border: 1px solid #E5E3FF;
            border-radius: 14px;
            background: $white;
            width: 40px;
            height: 40px;
            font-weight: 400;
            cursor: pointer;
            @include transition(all 0.5s ease-in-out 0s);
            &:hover {
                background: $green;
                border: 1px solid $green;
                svg {
                    fill: $white;
                }
            }
            svg {
                min-width: 18px;
                max-width: 18px;
                height: 18px;
                fill: $blak;
                @include transition(all 0.5s ease-in-out 0s);
            }
        }
        .login {
            @include bottom;
            min-width: 120px;
            max-width: 120px;
            border: 1px solid $white;
            color: $white;
            background: $none;
            margin-right: $com-spacing-3;
        }
        .bottom {
            margin-right: $com-spacing-3;
            min-width: 120px;
            max-width: 120px;
        }
        .dropdown {
            margin-right: $com-spacing-3;
            .dropdown-toggle {
                display: flex;
                align-items: center;
                text-transform: capitalize;
                @include transition(all 0.5s ease-in-out 0s);
                width: $auto;
                &::after {
                    display: $none;
                }
                .photo {
                    display: flex;
                    margin-right: $com-spacing-1;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    box-shadow: 0px 4px 24px 0px #0000000D;
                    border: 2px solid $white;
                    overflow: hidden;
                    // margin-bottom: $com-spacing-2;
                    @media only screen and (max-width: 550px) {
                        margin: $zero;
                        // margin-top: $com-spacing-1;
                    }
                }
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    object-fit: cover;
                }
                p {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: $white;
                    max-width: 76px;
                    font-weight: 400;
                    @media (max-width: 999px) {
                        max-width: $fullwidth;
                    }
                }
                svg {
                    fill: $white;
                    margin-top: $com-spacing-3;
                    max-width: 12px;
                    @media (max-width: 999px) {
                        fill: $white;
                    }
                }
            }
            .dropdown-menu.show {
                margin-top: $zero;
                right: $zero !important;
                left: $auto !important;
                top: 56px !important;
                min-width: inherit;
                box-shadow: 0px 4px 24px 0px #0000000D;
                border-radius: $zero;
                width: 168px;
                padding: $com-spacing-3 $zero;
                transform: $none !important;
                border: $zero;
                z-index: 12;
                @include transition(all 0.5s ease-in-out 0s);
                @media (max-width: 999px) {
                    top: 38px !important;
                    width: $fullwidth;
                }
                &:before {
                    display: $none;
                }
                .dropdown-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    line-height: 18px;
                    height: auto;
                    border: $zero;
                    margin: $zero;
                    padding: $com-spacing-2 $com-spacing-3 !important;
                    @include transition(all 0.5s ease-in-out 0s);
                    border: $zero !important;
                    background: $none !important;
                    font-size: 15px;
                    text-transform: capitalize;
                    &:active,
                    &:hover {
                        color: $green;
                        background: $ofwhite !important;
                    }
                }
            }
        }
    }
}

.towstyle {
    position: relative;
    background: $white;
    @include prefixer (box-shadow, 4px 4px 60px #0000000d, webkit moz o ms);
    .itemlogomenu .burger-line {
        background: $blak;
    }
    .menu-link {
        color: $blak;
        svg {
            fill: $blak;
        }
    }
    .navbar {
        @media (max-width: 999px) {
            background: $white;
        }
    }
    .bottoms {
        .login {
            color: $blak;
            border: 1px solid $blak;
            &:hover {
                color: $white;
            }
        }
        .dropdown {
            margin-right: $zero;
            margin-left: $com-spacing-3;
            .dropdown-toggle {
                .photo {
                    width: 40px;
                    height: 40px;
                }
                p {
                    color: $blak;
                    max-width: 76px;
                }
                svg {
                    fill: $blak;
                }
            }
            .dropdown-menu.show {
                top: 61px !important;
                // @media (max-width: 999px) {
                //     top: 28px !important;
                // }
            }
        }
    }
}