.profile {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: $com-spacing-6;
    border: 1px solid #DDDDE0;
    border-radius: 8px;
    padding: $com-spacing-6;
    @media (max-width: 999px) {
        grid-template-columns: 1fr;
    }
    .itemprofile {
        &:first-child {
            border-right: 1px solid #DDDDE0;
            @media (max-width: 999px) {
                border: $zero;
                border-bottom: 1px solid #DDDDE0;
                padding-bottom: $com-spacing-6;
            }
        }
        .title {
            justify-content: center;
            font-size: 20px;
        }
    }
    .field {
        margin: $zero;
        margin-bottom: $com-spacing-6;
        &:last-child {
            margin: $zero;
        }
        .form-control,
        .select2-container--bootstrap .select2-selection--single,
        .select2-container--bootstrap .select2-selection--multiple {
            background: #F0F0FE;
            border: 1px solid #E5E3FF;
            &:focus {
                border: 1px solid $blue;
            }
        }
    }
}

.subform {
    border: 1px solid #DDDDE0;
    border-radius: 8px;
    padding: $com-spacing-6;
    margin-top: $com-spacing-6;
    .title {
        font-size: 20px;
    }
    .field {
        .form-control,
        .select2-container--bootstrap .select2-selection--single,
        .ql-container.ql-snow {
            background: #F0F0FE;
            border: 1px solid #E5E3FF;
            &:focus {
                border: 1px solid $blue;
            }
        }
        .select2-container--bootstrap .select2-selection--multiple {
            background: #F0F0FE url(../images/arrow.svg) no-repeat right 12px center !important;
            background-size: 12px 12px !important;
            padding-right: 20px;
        }
    }
}

.imgcent {
    margin: $com-spacing-4 $auto $zero $auto;
    text-align: center;
    width: 140px;
    // height: 140px;
    @include border-radius(50%);
    position: relative;
    .img_prev {
        width: $fullwidth;
        height: 140px;
        min-height: $fullwidth;
        background: $ofwhite;
        @include border-radius(50%);
        position: relative;
        z-index: 2;
        object-fit: cover;
    }
    .file-bro {
        @include flex;
        cursor: pointer;
        @include transition(all 0.5s ease-in-out 0s);
        font-weight: 400;
        margin: $zero;
        margin-top: $com-spacing-2;
        z-index: 3;
        svg {
            z-index: 10;
            max-width: 16px;
            margin-right: $com-spacing-1;
            path {
                fill: $blak;
                @include transition(all 0.5s ease-in-out 0s);
            }
        }
        &:hover {
            color: $green;
            svg {
                path {
                    fill: $green;
                }
            }
        }
    }
}

.overlaybox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1005;
    visibility: hidden;
    @include transition(all 0.5s ease-in-out 0s);
    background-color: rgba(0, 0, 0, 0.65);
    @media (max-width: 1199px) {
        &.active {
            display: block;
            opacity: 1;
            visibility: visible;
        }
    }
}

.overlayinner {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1005;
    visibility: hidden;
    @include transition(all 0.5s ease-in-out 0s);
    background-color: rgba(0, 0, 0, 0.65);
    @media (max-width: 999px) {
        &.active {
            display: block;
            opacity: 1;
            visibility: visible;
        }
    }
}

.sidebar {
    @include position(fixed, $top: 0, $left: 0px);
    width: 280px;
    height: $fullwidth;
    overflow: auto;
    z-index: 1008;
    overflow: hidden;
    @include transition(all 0.5s ease-in-out 0s);
    overflow-y: scroll;
    background: $white;
    padding-bottom: 24px;
    border-right: 1px solid #F2EDED;
    @media (max-width: 999px) {
        left: -280px;
    }
    .cancel {
        display: none;
        position: absolute;
        top: $com-spacing-6;
        right: $com-spacing-4;
        z-index: 10;
        @media (max-width: 999px) {
            display: block;
        }
        svg {
            width: 18px;
            height: 18px;
        }
    }
    &.active {
        left: -100%;
        @media (max-width: 999px) {
            left: $zero;
            width: 280px;
        }
        .favicon {
            display: block;
            @media (max-width: 999px) {
                display: none;
            }
        }
    }
    &::-webkit-scrollbar {
        width: $zero;
    }
    .logo {
        @include flex;
        width: $fullwidth;
        padding: $zero $com-spacing-4;
        margin: $com-spacing-8 $zero $com-spacing-6 $zero;
        @media (max-width: 999px) {
            justify-content: flex-start;
        }
        img {
            max-width: $fullwidth !important;
        }
    }
    .favicon {
        display: none;
    }
    .imgcent {
        height: 140px;
        overflow: hidden;
        &:hover {
            .file-bro {
                opacity: 1;
            }
        }
        .file-bro {
            position: absolute;
            top: $zero;
            width: $fullwidth;
            height: $fullwidth;
            background: #00000082;
            opacity: 0;
            margin: $zero;
            svg {
                path {
                    fill: $white;
                }
            }
        }
    }
    .title {
        color: $blak;
        white-space: normal;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        margin-top: $com-spacing-4;
    }
    .text {
        color: $blak;
        text-align: center;
        margin-top: 12px;
        font-weight: 400;
        b {
            font-weight: bold;
            color: $blak;
        }
    }
    .listmenu {
        margin-top: $com-spacing-6;
        a {
            display: flex;
            align-items: center;
            padding: $com-spacing-3 $com-spacing-4;
            border-radius: 4px;
            margin-top: 1px;
            @include transition(all 0.5s ease-in-out 0s);
            &:hover,
            &.active {
                background: $blue;
                span {
                    color: $white
                }
                .icon {
                    svg {
                        fill: $green;
                    }
                }
            }
            .icon {
                margin-right: $com-spacing-2;
                @include transition(all 0.5s ease-in-out 0s);
                svg,
                img {
                    fill: #64666C;
                    width: 20px !important;
                    height: 20px !important;
                    @include transition(all 0.5s ease-in-out 0s);
                }
            }
            span {
                overflow: hidden;
                color: #121212;
                font-weight: 700;
                text-transform: capitalize;
                font-weight: 500;
                @include transition(all 0.5s ease-in-out 0s);
            }
        }
    }
}

.page-content {
    position: relative;
    width: $fullwidth;
    min-height: 100vh;
    padding-left: 280px;
    @include transition(all 0.5s ease-in-out 0s);
    @media (max-width: 999px) {
        padding-left: $zero;
    }
    &.active {
        padding-left: $zero;
        @media (max-width: 999px) {}
        .header {
            width: $fullwidth;
            @media (max-width: 999px) {}
        }
    }
    .header {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $zero $com-spacing-6;
        width: calc(100% - 280px);
        left: auto !important;
        right: $zero !important;
        height: 82px;
        @media (max-width: 999px) {
            width: $fullwidth;
            padding: $zero $com-spacing-3;
            // height: 66px;
        }
        .homeitem {
            display: flex;
            align-items: center;
            .iconhome {
                @include flex;
                border: 1px solid #E5E3FF;
                border-radius: 14px;
                width: 40px;
                height: 40px;
                margin-left: $com-spacing-4;
                @include transition(all 0.5s ease-in-out 0s);
                &:hover {
                    border: 1px solid $green;
                    background: $green;
                    svg {
                        fill: $white;
                    }
                }
                svg {
                    min-width: 18px;
                    max-width: 18px;
                    height: 18px;
                    fill: $blak;
                    @include transition(all 0.5s ease-in-out 0s);
                }
            }
        }
        .burger {
            position: relative;
            cursor: pointer;
            user-select: none;
            width: 24px;
            height: 1rem;
            &-line {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 2px;
                opacity: 1;
                border: none;
                outline: none;
                background: $blak;
                &:nth-child(1) {
                    top: 0px;
                }
                &:nth-child(2) {
                    top: 0.5rem;
                    width: 80%;
                }
                &:nth-child(3) {
                    top: 1rem;
                    width: 60%;
                }
            }
        }
    }
    .innerpage {
        position: relative;
        width: $fullwidth;
        padding: $com-spacing-6;
        padding-top: 112px;
        @media (max-width: 999px) {
            width: $fullwidth;
            padding: 112px $com-spacing-3 $com-spacing-3 $com-spacing-3;
            // height: 66px;
        }
    }
}

.bg-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    width: $fullwidth;
    background: $white;
    border: 1px solid #e8e9ee;
    border-radius: 12px;
    padding: $com-spacing-4;
    margin-top: $com-spacing-6;
    @media (max-width: 767px) {
        display: block;
    }
    .inner {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            display: block;
        }
        .photo {
            min-width: 160px;
            max-width: 160px;
            height: 160px;
            border-radius: 12px;
            overflow: hidden;
            margin-right: $com-spacing-3;
            @media (max-width: 767px) {
                min-width: 120px;
                max-width: 120px;
                height: 120px;
                margin: $zero $auto;
            }
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
            }
        }
        .title {
            font-size: 28px;
            font-weight: 600;
            @media (max-width: 767px) {
                font-size: 24px;
                justify-content: center;
                margin-top: $com-spacing-5;
            }
        }
        .info {
            display: flex;
            flex-wrap: wrap;
            margin-top: $com-spacing-1;
            @media (max-width: 767px) {
                justify-content: center;
            }
        }
        .time,
        .job,
        .email {
            display: flex;
            align-items: center;
            color: $gray;
            font-weight: 500;
            margin: $com-spacing-2 $com-spacing-4 $zero $zero;
            &:last-child {
                margin-right: $zero;
            }
            svg {
                min-width: 15px;
                max-width: 15px;
                height: 15px;
                fill: $gray;
                margin: $zero;
                margin-right: $com-spacing-1;
            }
        }
        .prog {
            display: flex;
            align-items: center;
            margin-top: $com-spacing-3;
            @media (max-width: 767px) {
                display: block;
                margin-top: $com-spacing-5;
            }
            p {
                font-weight: 500;
                margin-top: -7px;
                color: $blak;
            }
        }
        .pr-skill-bar {
            display: flex;
            align-items: center;
            position: relative;
            min-width: $fullwidth;
            margin-left: $com-spacing-4;
            @media (max-width: 767px) {
                margin: $zero;
            }
            .progress {
                min-width: $fullwidth;
                height: 6px;
                background: #EFEFEF;
                overflow: visible;
                @include border-radius(34px);
                .progress-bar {
                    box-shadow: $none;
                    position: relative;
                    width: $fullwidth;
                    -webkit-animation: animate-positive 2s;
                    animation: animate-positive 2s;
                    background: $dark;
                    @include border-radius(34px);
                }
            }
            .progress-value {
                color: $blak;
                font-weight: 500;
                margin-left: $com-spacing-4;
                @media (max-width: 767px) {
                    position: absolute;
                    right: 0;
                    top: -28px;
                }
            }
            @-webkit-keyframes animate-positive {
                0% {
                    width: 0;
                }
            }
            @keyframes animate-positive {
                0% {
                    width: 0;
                }
            }
        }
    }
    .action {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            justify-content: center;
            margin-top: $com-spacing-5;
        }
        .waiting,
        .approval {
            @include flex;
            padding: $zero $com-spacing-3;
            border-radius: 12px;
            color: $yellow;
            border: 1px solid $yellow;
            text-transform: capitalize;
            min-width: 100px;
            max-width: 100px;
            font-weight: 500;
            margin-left: $com-spacing-4;
        }
        .approval {
            color: $green;
            border: 1px solid $green;
        }
        .dropdown {
            .dropdown-toggle {
                &::after {
                    display: none;
                }
            }
            .dropdown-menu.show {
                margin-top: $zero;
                right: $auto !important;
                left: $zero !important;
                top: 38px !important;
                min-width: inherit;
                box-shadow: 0px 4px 24px 0px #0000000D;
                border-radius: $zero;
                width: 148px;
                padding: $com-spacing-3 $zero;
                transform: $none !important;
                border: $zero;
                z-index: 2;
                @include transition(all 0.5s ease-in-out 0s);
                &:before {
                    display: $none;
                }
                .dropdown-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    line-height: 18px;
                    height: auto;
                    border: $zero;
                    margin: $zero;
                    padding: $com-spacing-2 $com-spacing-3 !important;
                    @include transition(all 0.5s ease-in-out 0s);
                    border: $zero !important;
                    background: $none !important;
                    font-size: 15px;
                    text-transform: capitalize;
                    &:active,
                    &:hover {
                        color: $green;
                        background: $ofwhite !important;
                    }
                }
            }
        }
    }
}

#removal {
    .modal-dialog {
        max-width: 580px;
    }
    .modal-content {
        padding: $com-spacing-6;
        text-align: center;
    }
    .warning {
        margin-bottom: $com-spacing-4;
        svg {
            min-width: 100px;
            max-width: 100px;
            fill: $green;
        }
    }
    p {
        margin: $com-spacing-2 $zero $com-spacing-4 $zero;
        text-align: center;
        font-weight: 500;
    }
    .title {
        font-size: 24px;
        text-align: center;
    }
    .bottom {
        height: 50px;
    }
}

.itemdetails {
    margin-top: $com-spacing-6;
    @media (max-width: 1199px) {
        max-width: $fullwidth;
        flex: $fullwidth;
    }
    .innerdetails {
        position: relative;
        width: $fullwidth;
        background: $white;
        border: 1px solid #e8e9ee;
        border-radius: 12px;
        padding: $com-spacing-4;
        &.scroll {
            position: sticky;
            top: 100px;
        }
        .infodetails {
            position: relative;
            width: $fullwidth;
            margin-bottom: $com-spacing-4;
            padding-bottom: $com-spacing-4;
            border-bottom: 1px solid #e8e9ee;
            &:last-child {
                padding: $zero;
                border: $zero;
                margin: $zero;
            }
            .title {
                font-size: 22px;
                font-weight: 600;
            }
            p {
                margin-top: $com-spacing-2;
                font-weight: 500;
            }
            .listpersonal {
                padding-left: $com-spacing-5;
                margin-top: $com-spacing-3;
                li {
                    margin-top: 10px;
                    font-weight: 500;
                    list-style: decimal;
                }
            }
            .allskills {
                padding: $zero;
                justify-content: flex-start;
                margin-top: $com-spacing-3;
                li {
                    margin: $zero;
                    background: $ofwhite;
                    margin: $com-spacing-2 $com-spacing-2 $zero $zero;
                    color: $blak;
                    padding: $com-spacing-1 $com-spacing-4;
                    border-radius: 60px;
                    min-width: inherit;
                }
            }
            .workexperience {
                li {
                    width: $fullwidth;
                    // white-space: nowrap;
                    // text-overflow: ellipsis;
                    overflow: hidden;
                    background: $ofwhite;
                    border-radius: 12px;
                    padding: $com-spacing-4;
                    margin-top: $com-spacing-4;
                    .title {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    .info {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: $com-spacing-2;
                    }
                    .time,
                    .company,
                    .map {
                        display: flex;
                        align-items: center;
                        color: $gray;
                        font-size: 15px;
                        font-weight: 500;
                        margin-right: $com-spacing-4;
                        &:last-child {
                            margin: $zero;
                        }
                        svg {
                            min-width: 12px;
                            max-width: 12px;
                            height: 12px;
                            fill: $gray;
                            margin: $zero;
                            margin-right: $com-spacing-1;
                        }
                    }
                }
            }
            .information {
                margin-top: $com-spacing-4;
                li {
                    display: flex;
                    align-items: center;
                    margin-top: $com-spacing-4;
                    .icon {
                        @include flex;
                        min-width: 30px;
                        max-width: 30px;
                        height: 30px;
                        background: $ofwhite;
                        border-radius: 60px;
                        margin-right: $com-spacing-2;
                        svg {
                            width: 14px;
                            height: 14px;
                        }
                    }
                    span {
                        display: block;
                        min-width: 106px;
                        max-width: 106px;
                        height: 28px;
                        font-size: 15px;
                        font-weight: 500;
                        margin-right: $com-spacing-2;
                        text-transform: capitalize;
                        color: $colortext;
                        overflow: hidden;
                    }
                    p,
                    a {
                        font-size: 15px;
                        font-weight: 500;
                        color: $blak;
                        margin: $zero;
                    }
                    a {
                        text-decoration: underline;
                        @include transition(all 0.5s ease-in-out 0s);
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    p {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

.itemmeet {
    margin-top: $com-spacing-6;
    @media (max-width: 1199px) {
        max-width: 50%;
        flex: 50%;
    }
    @media (max-width: 767px) {
        max-width: $fullwidth;
        flex: $fullwidth;
    }
    .inner {
        display: flex;
        align-items: center;
        position: relative;
        width: $fullwidth;
        background: $white;
        border: 1px solid #e8e9ee;
        border-radius: 12px;
        padding: $com-spacing-4;
        overflow: hidden;
        .manth {
            min-width: 64px;
            max-width: 64px;
            height: 64px;
            border-radius: 12px;
            background: $ofwhite;
            padding: $com-spacing-2 $zero;
            margin-right: $com-spacing-2;
            text-align: center;
            overflow: hidden;
            p {
                color: $green;
                font-size: 24px;
                font-weight: 700;
                text-align: center;
                span {
                    color: $blak;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            .date {
                display: block;
                line-height: 8px;
                color: $gray;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
        .time {
            color: $gray;
            font-weight: 500;
        }
        .title {
            font-size: 20px;
            font-weight: 500;
        }
        .map {
            display: flex;
            align-items: center;
            color: $gray;
            font-weight: 500;
            svg {
                min-width: 16px;
                max-width: 16px;
                height: 12px;
                fill: $gray;
                margin: $zero;
                margin-top: $com-spacing-1;
            }
        }
        iframe {
            display: block;
            width: $fullwidth;
            height: 66vh;
            border: $zero;
        }
        .chatall {
            padding: $zero !important;
            .chat-text {
                height: 46vh;
                @media (min-width: 1600px) {
                    height: 50vh;
                }
            }
        }
    }
}

.project-propsal-client {
    overflow: hidden;
    .minhead {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F0F0FE;
        padding: $com-spacing-4;
        border-radius: 10px 10px $zero $zero;
        @media (max-width: 400px) {
            display: block;
            .bottom {
                width: $fullwidth;
                margin-top: $com-spacing-4;
            }
        }
        .title {
            display: flex;
            padding: $zero !important;
            font-size: 20px !important;
            svg {
                margin-right: $com-spacing-3;
            }
        }
        .edit {
            @include flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid $green;
            transition: all 0.5s ease-in-out 0s;
            &:hover {
                background: $green;
                svg {
                    fill: $white;
                }
            }
            svg {
                fill: $green;
                max-width: 20px;
                max-height: 20px;
                transition: all 0.5s ease-in-out 0s;
            }
        }
    }
    .subproject-client {
        display: grid;
        grid-template-columns: 1fr 460px;
        gap: $com-spacing-4;
        border-radius: 8px;
        border: 1px solid #B8BAFA;
        border-radius: $zero $zero 30px 30px;
        padding: $com-spacing-4;
        @media (max-width: 1199px) {
            grid-template-columns: 1fr 300px;
        }
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
        }
        .inner {
            .title {
                font-size: 24px;
                @media (max-width: 999px) {
                    font-size: 20px;
                }
            }
            p {
                font-size: 20px;
                font-weight: 500;
                color: $blak;
                margin-top: $com-spacing-4;
                @media (max-width: 999px) {
                    font-size: 16px;
                }
            }
            .listpdf {
                margin-top: $com-spacing-6;
                a {
                    display: flex;
                    align-items: center;
                    color: #2196F3;
                    font-weight: 400;
                    margin-top: $com-spacing-3;
                    span {
                        font-size: 12px;
                    }
                    svg {
                        margin-right: $com-spacing-1;
                    }
                }
            }
        }
        .project-card {
            border-left: 1px solid #B8BAFA;
            padding-left: $com-spacing-4;
            @media (max-width: 999px) {
                border: $zero;
                padding: $zero;
            }
            .minhead {
                display: flex !important;
                background: $blue;
                .title {
                    color: $white;
                }
            }
            .subcard {
                padding: $com-spacing-4;
                border: 1px solid #B8BAFA;
                border-radius: $zero $zero 30px 30px;
                .listcard {
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-bottom: $com-spacing-4;
                        margin-bottom: $com-spacing-4;
                        border-bottom: 1px solid #DEDEDE;
                        &:last-child {
                            display: block;
                            margin-bottom: $zero;
                            padding-bottom: $zero;
                            border: $zero;
                        }
                        .active {
                            @include flex;
                            position: relative;
                            min-width: 135px;
                            max-width: 135px;
                            height: 32px;
                            border-radius: 60px;
                            background: $green;
                            font-weight: 500;
                            color: $white;
                            text-transform: capitalize;
                            @media (max-width: 999px) {
                                min-width: 100px;
                                max-width: 100px;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                left: 12px;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background: #ffffff9e;
                            }
                        }
                        p {
                            font-size: 20px;
                            font-weight: 600;
                            color: $blak;
                            @media (max-width: 1199px) {
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                        .listskills {
                            display: flex;
                            flex-wrap: wrap;
                            margin-top: $com-spacing-3;
                            span {
                                @include flex;
                                min-width: 80px;
                                border: 1px solid $blue;
                                background: #F0F0FE;
                                color: #2A2C66;
                                font-size: 14px;
                                font-weight: 500;
                                border-radius: 8px;
                                padding: $com-spacing-2 $com-spacing-3;
                                margin: $com-spacing-1 $com-spacing-2 $zero $zero;
                            }
                        }
                    }
                }
            }
        }
    }
}

.itemoffers {
    margin-top: $com-spacing-6;
    .minhead {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F9FBEA80;
        padding: $com-spacing-4;
        border-bottom: 1px solid #D5D5D5;
        border-radius: 10px 10px $zero $zero;
        @media (max-width: 400px) {
            display: block;
        }
        .title {
            display: flex;
            padding: $zero !important;
            font-size: 20px !important;
            svg {
                margin-right: $com-spacing-3;
            }
        }
        .selectfilter {
            position: relative;
            min-width: 184px;
            max-width: 184px;
            @media (max-width: 400px) {
                min-width: $fullwidth;
                max-width: $fullwidth;
                margin-top: $com-spacing-4;
            }
            svg {
                position: absolute;
                top: 17px;
                left: $com-spacing-2;
                pointer-events: none;
                z-index: 11;
            }
        }
        .select2-container--bootstrap .select2-selection--single,
        .select2-container--bootstrap .select2-selection--multiple {
            border: 1px solid #848484;
            padding-left: $com-spacing-7;
        }
    }
    .listoffers {
        li {
            border-bottom: 1px solid #DEDEDE;
            padding-bottom: $com-spacing-4;
            margin-top: $com-spacing-4;
            &:last-child {
                padding: $zero;
                border: $zero;
            }
            .flexoffer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media (max-width: 1300px) {
                    display: block;
                }
                .user {
                    display: flex;
                    align-items: center;
                    .photo {
                        min-width: 60px;
                        max-width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        margin-right: $com-spacing-3;
                        overflow: hidden;
                        img {
                            width: $fullwidth;
                            height: $fullwidth;
                            object-fit: cover;
                        }
                    }
                    .title {
                        color: $blue;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .flex {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        .innerflex {
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            font-weight: 600;
                            color: #767676;
                            margin: $com-spacing-2 $com-spacing-3 $zero $zero;
                            &:last-child {
                                margin-right: $zero;
                            }
                            svg {
                                margin-right: $com-spacing-1;
                            }
                        }
                    }
                }
            }
            .details {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                background: #F5F5F5;
                border: 1px solid #E3E3E3;
                border-radius: 8px;
                @media (max-width: 1300px) {
                    margin-top: $com-spacing-4;
                    justify-content: space-between;
                }
                .flex {
                    display: flex;
                    align-items: center;
                    padding: $com-spacing-3;
                    border-right: 1px solid #E3E3E3;
                    @media (max-width: 1300px) {
                        min-width: calc(100% / 4);
                        justify-content: center;
                    }
                    @media (max-width: 850px) {
                        min-width: calc(100% / 2);
                        &:nth-child(2) {
                            border: $zero;
                        }
                    }
                    @media (max-width: 450px) {
                        min-width: calc(100% / 1);
                        border: $zero;
                        border-bottom: 1px solid #E3E3E3;
                        justify-content: flex-start;
                        &:nth-child(2) {
                            border-bottom: 1px solid #E3E3E3;
                        }
                    }
                    &:last-child {
                        border: $zero;
                    }
                    .icon {
                        margin-right: $com-spacing-1;
                        svg {
                            width: 35px;
                            height: 35px;
                        }
                    }
                    .title,
                    p {
                        color: #414141;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    p {
                        font-weight: 500;
                        // margin-top: $com-spacing-1;
                    }
                    .iconsrating {
                        svg {
                            min-width: 18px;
                            max-width: 18px;
                            height: 18px;
                            fill: #414141;
                            &.active {
                                fill: $yellow;
                            }
                        }
                    }
                }
            }
            .box {
                overflow: hidden;
                .box-header {
                    border: 1px solid #B4B4B4;
                    border-radius: 60px;
                    cursor: pointer;
                    padding: $com-spacing-2 $com-spacing-4;
                    transition: background 0.3s;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: $com-spacing-4;
                    @media (max-width: 550px) {
                        display: block;
                        border-radius: 12px;
                    }
                    &.active {
                        .read {
                            display: none;
                        }
                        .close {
                            display: block;
                        }
                        .arrow {
                            path {
                                fill: red;
                            }
                        }
                    }
                    p {
                        display: flex;
                        align-items: center;
                    }
                    span {
                        color: #2196F3;
                        font-size: 20px;
                        font-weight: 400;
                        text-transform: capitalize;
                        margin-right: $com-spacing-1;
                        @media (max-width: 550px) {
                            font-size: 16px;
                        }
                        &.close {
                            display: none;
                            color: red;
                        }
                    }
                    .arrow {
                        transition: transform 0.3s ease;
                        &.rotate {
                            transform: rotate(180deg);
                        }
                    }
                    .listaction {
                        display: flex;
                        align-items: center;
                        @media (max-width: 550px) {
                            margin-top: $com-spacing-2;
                        }
                        a {
                            @include flex;
                            border-radius: 60px;
                            padding: $com-spacing-1 $com-spacing-4;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 600;
                            min-width: 140px;
                            margin-right: $com-spacing-2;
                            @media (max-width: 550px) {
                                padding: $com-spacing-1 $com-spacing-2;
                            }
                            &:last-child {
                                margin-right: $zero;
                            }
                            svg {
                                margin-right: $com-spacing-1;
                            }
                            &.green {
                                color: #1B8354;
                                border: 1px solid #1B8354;
                            }
                            &.blue {
                                color: $blue;
                                border: 1px solid $blue;
                            }
                        }
                    }
                }
                .box-content {
                    display: none;
                    padding: $com-spacing-4;
                    background: #FBFBFB;
                    margin-top: $com-spacing-4;
                    p {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 38px;
                        color: #565656;
                    }
                    .listpdf {
                        margin-top: $com-spacing-6;
                        a {
                            display: flex;
                            align-items: center;
                            color: #2196F3;
                            font-weight: 400;
                            margin-top: $com-spacing-3;
                            span {
                                font-size: 12px;
                            }
                            svg {
                                margin-right: $com-spacing-1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.popup-backdrop {
    position: fixed;
    inset: $zero;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    padding: $com-spacing-3;
    z-index: 1010;
    // .innerpopup {
    //     @include flex;
    //     width: $fullwidth;
    //     height: $fullwidth;
    // }
    .popup {
        margin: $zero $auto;
        background: $white;
        border-radius: 30px;
        min-width: 684px;
        max-width: 684px;
        @media (max-width: 999px) {
            min-width: $fullwidth;
            max-width: $fullwidth;
        }
        .minhead,
        .minfooter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #D8D8D8;
            padding: $com-spacing-4;
            .title {
                font-size: 20px;
            }
        }
        .minfooter {
            border: $zero;
            border-top: 1px solid #D8D8D8;
            .closePopup,
            .btnproceed {
                @include flex;
                border-radius: 60px;
                padding: $com-spacing-1 $com-spacing-4;
                cursor: pointer;
                font-size: 14px;
                font-weight: 600;
                min-width: 140px;
                color: $blue;
                border: 1px solid $blue;
                @media (max-width: 999px) {
                    min-width: 120px;
                }
            }
            .btnproceed {
                color: #1B8354;
                border: 1px solid #1B8354;
            }
        }
        .proceed {
            display: flex;
            // align-items: center;
            padding: $com-spacing-8;
            @media (max-width: 999px) {
                padding: $com-spacing-6;
            }
            .icon {
                margin-right: $com-spacing-5;
                svg {
                    width: 144px;
                    height: 144px;
                    @media (max-width: 999px) {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
            .title {
                font-size: 20px;
                font-weight: 500;
                &.green {
                    color: #1B8354;
                }
                &.red {
                    color: red;
                }
            }
            p {
                font-size: 16px;
                font-weight: 500;
                margin-top: $com-spacing-2;
                color: #656565;
                @media (max-width: 999px) {}
            }
        }
    }
}