 .field {
     position: relative;
     margin-top: $com-spacing-6;
     @media (max-width: 999px) {
         margin-top: $com-spacing-4;
     }
     label {
         display: block;
         color: $blak;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
         font-weight: 500;
         text-transform: capitalize;
     }
     .bottom {
         width: $fullwidth;
         height: 50px;
     }
     .flexbox {
         .che-box {
             display: inline-block;
             margin-right: $com-spacing-8;
             &:last-child {
                 margin: $zero;
             }
         }
     }
     input[type="file"] {
         position: relative;
         padding-left: 6px;
         padding-top: 5px;
     }
     input[type="file"]::file-selector-button {
         width: 120px;
         color: transparent;
     }
     input[type="file"]::before {
         position: absolute;
         pointer-events: none;
         top: 15px;
         left: 10px;
         height: 20px;
         width: 20px;
         content: "";
         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
     }
     input[type="file"]::after {
         position: absolute;
         pointer-events: none;
         top: 15px;
         left: 34px;
         color: $blak;
         content: "Download";
     }
     input[type="file"]::file-selector-button {
         border-radius: 4px;
         padding: 0 16px;
         height: 44px;
         cursor: pointer;
         background-color: #e7e9d8;
         border: 1px solid #E5E5E5;
         transition: background-color 200ms;
     }
     /* file upload button hover state */
 }
 
 .icon-pass {
     position: absolute;
     bottom: 15px;
     right: 24px;
     z-index: 10;
     cursor: pointer;
     @include transition(all 0.5s ease-in-out 0s);
     svg {
         width: 24px;
         fill: $white;
     }
 }
 
 .icon-pass.eye-slash.icon-pass {
     display: none;
     svg {
         stroke: $green;
         fill: $none
     }
 }
 
 .signup,
 .loginpage,
 .forgot {
     @include section;
     display: flex;
     align-items: center;
     background: $dark;
     min-height: calc(100vh - 84px);
     .photo {
         position: absolute;
         right: $zero;
         top: $zero;
         width: 50%;
         height: $fullwidth;
         overflow: hidden;
         @media (max-width: 999px) {
             display: none;
         }
         img {
             width: $fullwidth;
             height: $fullwidth;
             object-fit: cover;
         }
         .text {
             width: $fullwidth;
             background: $green;
             padding: $com-spacing-6;
             .logo {
                 img {
                     width: 232px;
                     height: 67px;
                     object-fit: inherit;
                 }
             }
             .title {
                 font-size: 32px;
                 font-weight: 500;
                 margin-top: $com-spacing-5;
                 @media (max-width: 999px) {
                     font-size: 26px;
                 }
             }
             p {
                 margin-top: $com-spacing-2;
             }
         }
     }
     .item {
         padding-right: $com-spacing-8;
         @media (max-width: 999px) {
             max-width: $fullwidth;
             flex: $fullwidth;
             padding: $zero $com-spacing-3;
         }
     }
     .title {
         font-size: 32px;
         color: $white;
         @media (max-width: 999px) {
             font-size: 26px;
         }
     }
     p {
         font-weight: 400;
         color: $white;
         margin-top: $com-spacing-4;
         text-transform: capitalize;
         @media (max-width: 999px) {}
         a {
             color: $green;
             font-weight: 400;
             &:hover {
                 text-decoration: underline;
             }
         }
     }
     .field {
         label {
             color: $white;
         }
         .form-control {
             background: $none;
             border: 1px solid $white;
             color: $white;
             &:focus {
                 border: 1px solid $green;
             }
         }
          ::placeholder {
             color: $white;
             opacity: 1;
             /* Firefox */
         }
          ::-ms-input-placeholder {
             /* Edge 12 -18 */
             color: $white;
         }
         em {
             color: $green;
         }
     }
 }
 
 //  End signup & login & forget