.slider {
    display: flex;
    align-items: center;
    position: relative;
    width: $fullwidth;
    height: 650px;
    overflow: hidden;
    background: $dark;
    border-bottom: 1px solid #FFFFFF0D;
    @media (max-width: 999px) {
        height: auto;
    }
    .container {
        @media (max-width: 999px) {}
    }
    .item {
        display: flex;
        align-items: center;
        @media (max-width: 999px) {
            max-width: $fullwidth;
            flex: $fullwidth;
            text-align: center;
            margin-top: $com-spacing-6;
            justify-content: center;
        }
        .title {
            display: block;
            color: $white;
            @media (max-width: 999px) {
                justify-content: center;
                text-align: center;
            }
        }
        .cursor {
            display: inline-block;
            width: 16px;
            height: 4px;
            margin-left: $com-spacing-1;
            background: $green;
            animation: blink 900ms steps(1) infinite;
        }
        @keyframes blink {
            50% {
                opacity: 0
            }
        }
        .field {
            .form-control {
                border-radius: 60px;
                padding-right: $com-spacing-8;
            }
            button {
                position: absolute;
                right: 22px;
                padding: $zero;
                background: $none;
                border: $zero;
                top: $com-spacing-3;
                cursor: pointer;
            }
        }
    }
    .photo {
        @include flex;
        position: relative;
        margin: $zero $auto;
        width: $fullwidth;
        height: $fullwidth;
        text-align: center;
        @media (max-width: 999px) {
            // width: 280px;
            // height: 280px;
        }
        img {
            max-width: $fullwidth;
            max-height: $fullwidth;
        }
    }
}

.userssay {
    @include section;
    background: $dark;
    &::before {
        content: "";
        position: absolute;
        left: $zero;
        width: 44%;
        height: 142px;
        background: $green;
        @media (max-width: 999px) {
            display: none;
        }
    }
    .container {
        display: flex;
        align-items: center;
        @media (max-width: 999px) {
            display: grid;
        }
    }
    .counters {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 50%;
        max-width: 50%;
        height: 142px;
        background: $green;
        border-radius: $zero 30px 30px $zero;
        margin-right: $com-spacing-7;
        @media (max-width: 999px) {
            margin: $zero;
            margin-top: $com-spacing-6;
            justify-content: space-between;
            order: 2;
            border-radius: 30px;
            min-width: $fullwidth;
            max-width: $fullwidth;
            height: auto;
            padding: $com-spacing-6;
        }
        @media (max-width: 600px) {
            display: block;
        }
        .counter-box {
            min-width: 33.333%;
            max-width: 33.333%;
            text-align: center;
            @media (max-width: 999px) {}
            @media (max-width: 600px) {
                min-width: $fullwidth;
                max-width: $fullwidth;
                margin-bottom: $com-spacing-6;
                &:last-child {
                    margin: $zero;
                }
            }
            .number {
                color: $blue;
                font-weight: 700;
                font-size: 50px;
                text-align: center;
                @media (max-width: 999px) {
                    font-size: 40px;
                }
            }
            p {
                color: $white;
                margin-top: $com-spacing-4;
                text-align: center;
                font-weight: 400;
            }
        }
    }
    .text {
        .title {
            color: $white;
            @media (max-width: 999px) {
                justify-content: center;
            }
        }
        .photos {
            display: flex;
            align-items: center;
            margin-top: $com-spacing-4;
            @media (max-width: 999px) {
                justify-content: center;
            }
            img {
                min-width: 76px;
                max-width: 76px;
                height: 76px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: -25px;
                border: 1px solid $green;
            }
        }
    }
}

.towslider {
    background: url(../images/slider2.png) no-repeat top right/cover;
    @media (max-width: 999px) {
        padding-bottom: $com-spacing-7;
    }
    .item {
        @media (max-width: 999px) {
            &:last-child {
                display: none;
            }
        }
        .title {
            font-size: 50px;
            @media (max-width: 1199px) {
                font-size: 40px;
            }
            @media (max-width: 999px) {
                font-size: 32px;
            }
        }
        .banner-imgs {
            position: relative;
            margin-left: 170px;
            @media (max-width: 1199px) {
                margin-left: 94px;
            }
            .banner-sm1,
            .banner-sm2,
            .banner-sm3 {
                position: absolute;
                top: 4%;
                left: -86px;
                z-index: 12;
            }
            .banner-sm1 {
                img {
                    width: 251px;
                }
            }
            .banner-sm2 {
                top: 43%;
                left: -136px;
                img {
                    width: 144px;
                }
            }
            .banner-sm3 {
                top: 62%;
                left: -90px;
                img {
                    width: 251px;
                }
            }
        }
        @keyframes hero-thumb-animation {
            0% {
                transform: translateY(-20px);
            }
            100% {
                transform: translateY(0px);
            }
        }
        @keyframes hero-thumb-sm-animation {
            0% {
                -webkit-transform: translateY(-20px) translateX(50px);
                -moz-transform: translateY(-20px) translateX(50px);
                -ms-transform: translateY(-20px) translateX(50px);
                transform: translateY(-20px) translateX(50px);
            }
            100% {
                -webkit-transform: translateY(-20px) translateX(0px);
                -moz-transform: translateY(-20px) translateX(0px);
                -ms-transform: translateY(-20px) translateX(0px);
                transform: translateY(-20px) translateX(0px);
            }
        }
        @keyframes hero-thumb-sm-2-animation {
            0% {
                -webkit-transform: translateY(-50px);
                -moz-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            100% {
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                -ms-transform: translateY(0px);
                transform: translateY(0px);
            }
        }
        .shape-1 {
            -webkit-animation: hero-thumb-animation 2s linear infinite alternate;
            -moz-animation: hero-thumb-animation 2s linear infinite alternate;
            -o-animation: hero-thumb-animation 2s linear infinite alternate;
            animation: hero-thumb-animation 2s linear infinite alternate;
        }
        .shape-2 {
            -webkit-animation: hero-thumb-sm-animation 4s linear infinite alternate;
            -moz-animation: hero-thumb-sm-animation 4s linear infinite alternate;
            -o-animation: hero-thumb-sm-animation 4s linear infinite alternate;
            animation: hero-thumb-sm-animation 4s linear infinite alternate;
        }
        .shape-3 {
            -webkit-animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
            -moz-animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
            -o-animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
            animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
        }
    }
}

.bg {
    background: url(../images/price.png) no-repeat top left;
}

.threeslider {
    background: $none !important;
    .item {
        .banner-imgs {
            margin: $zero $auto;
            width: 400px;
            height: 460px;
            background: $dark;
            border-radius: 150px 150px $zero $zero;
            overflow: hidden;
            @media (max-width: 999px) {
                width: 280px;
                height: 280px;
            }
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
            }
        }
        .title {
            font-size: 64px;
            @media (max-width: 1199px) {
                font-size: 50px;
            }
            @media (max-width: 999px) {
                font-size: 40px;
            }
        }
    }
}

.forstyle {
    background: url(../images/forstyle.png) no-repeat top right/cover;
    .item {
        .banner-imgs {
            @include flex;
            width: $fullwidth;
            height: 500px;
            margin-top: $com-spacing-8;
            @media (max-width: 999px) {
                height: auto;
                margin-top: $zero;
            }
            img {
                max-width: $fullwidth;
                max-height: $fullwidth;
            }
        }
        .title {
            font-size: 50px;
            margin-bottom: $com-spacing-6;
            @media (max-width: 999px) {
                font-size: 34px;
            }
        }
    }
}